<!-- Step One: Register -->
<form class="register ion-padding">
  <h3>{{ 'auth.register' | translate }}</h3>
  <!-- Register -->
  <ion-item>
    <ion-label position="stacked">{{ 'auth.name' | translate }}</ion-label>
    <ion-input [(ngModel)]='name' type='text' name='name' required='true' ngDefaultControl></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{ 'auth.email' | translate }}</ion-label>
    <ion-input [(ngModel)]='email' type='email' name='email' required='true' ngDefaultControl></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{ 'auth.password' | translate }}</ion-label>
    <ion-input [(ngModel)]='password' type='password' name='password' required='true' ngDefaultControl></ion-input>
  </ion-item>
  <ion-text *ngIf="error" color="danger">{{ error }}</ion-text>
  <div class="buttons">
    <ion-button (click)="submitEmailAndPassword()" [disabled]="processing">
      <ion-icon name="log-in" slot="start"></ion-icon>
      <ion-label>{{ 'auth.sign-in' | translate }}</ion-label>
    </ion-button>
  </div>
</form>