.sign-in-block, .register-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;

  ion-img {
    height: auto;
    width: 100px;
  }

  .social-providers, .email, .sign-out {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-providers {
    ion-buttons {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    ion-button {
      width: 35%;
      min-width: 200px;
    }
  }
}

.buttons {
  margin-top: 2em;
}

/* Animation in/out */
.modes {
  display: flex;
  flex-direction: row;
  width: 300%;
}
.register-block, .sign-in-block, .organization-block {
  transition: 0.25s linear;
  width: 100vw;
}
.register-block.hidden {
  transform: translateX(100%);
}
.organization-block.hidden {
  transform: translateX(200%);
}
.sign-in-block.hidden {
  transform: translateX(-100%);
}
.register-block.visible {
  transform: translateX(-100%);
}
.organization-block.visible {
  transform: translateX(-200%);
}
venite-register { 
  width: 100%;
}