<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'auth.sign-in' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button aria-role="Button" aria-label="{{ 'Close' | translate }}" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="modes">
    <div [class]="{'sign-in-block': true, 'visible': mode == 'login', 'hidden': mode !== 'login'}">
      <!-- Sign in with Social Providers -->
      <div class="social-providers">
        <ion-button (click)="login('Google')">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          <ion-label>{{ 'auth.sign-in-with-google' | translate }}</ion-label>
        </ion-button>
        <ion-button (click)="login('Twitter')" color="secondary">
          <ion-icon name="logo-twitter" slot="start"></ion-icon>
          <ion-label>{{ 'auth.sign-in-with-twitter' | translate }}</ion-label>
        </ion-button>
        <ion-button (click)="login('Apple')" color="dark">
          <ion-icon name="logo-apple" slot="start"></ion-icon>
          <ion-label>{{ 'auth.sign-in-with-apple' | translate }}</ion-label>
        </ion-button>
      </div>

      <!-- Sign in with Email -->
      <form>
        <ion-item>
          <ion-label position="stacked">{{ 'auth.email' | translate }}</ion-label>
          <ion-input type="email" name="email" [(ngModel)]='email' ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'auth.password' | translate }}</ion-label>
          <ion-input [(ngModel)]='password' name="password" type='password' ngDefaultControl></ion-input>
          <ion-text *ngIf="error" color="danger">{{ 'auth.error' | translate }}</ion-text>
        </ion-item>
        <div class="email">
          <ion-button (click)="submitEmailAndPassword()">
            <ion-icon name="log-in" slot="start"></ion-icon>
            <ion-label>{{ 'auth.sign-in' | translate }}</ion-label>
          </ion-button>
          <ion-button fill="clear" (click)="registerView()">{{ 'auth.register' | translate }}</ion-button>
        </div>
      </form>
    </div>

    <!-- Registration -->
    <div [class]="{'register-block': true, 'visible': mode == 'register', 'hidden': mode !== 'register'}">
      <venite-register (complete)="organizationView($event)"></venite-register>
    </div>

    <!-- Find Your Church — After Registration -->
    <div [class]="{'organization-block': true, 'visible': mode == 'organization', 'hidden': mode !== 'organization'}">
      <venite-join-organization (complete)="dismiss($event)"></venite-join-organization>
    </div>
  </div>
</ion-content>
