ldf-editor {
  display: block;
  margin: auto;
  padding-bottom: 2em;
  max-width: 800px;
}

.loading {
  display: block;
  margin: auto;
  text-align: center;
}

@media(max-width: 767px) {
  .sm-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
}

@media(min-width: 767px) {
  .sm-only {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
}
