<ng-container *ngIf="state$ | async as state else nodoc">
  <ng-container *ngIf="state.localManager else nodoc">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><h1>{{ state?.localManager?.document?.label }}</h1></ion-title>
        <ion-text *ngIf="state?.docSaved" slot="end">
          {{ 'Saved at' | translate }} {{ state?.docSaved | date:'shortTime' }} {{ 'on' | translate }} {{ state?.docSaved | date:'shortDate' }}
        </ion-text>
        <ion-buttons collapse="true" slot="end">
          <ion-button (click)="sharingModal(state?.localManager.document?.sharing)">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label>{{ 'editor.share' | translate }}</ion-label>
          </ion-button>
          <venite-auth-menu-button></venite-auth-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
    <ion-content [fullscreen]="true" class="ion-padding">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large"><h1>{{ state?.localManager.document?.label }}</h1></ion-title>
        </ion-toolbar>
      </ion-header>
    
      <article>
        <ldf-editor
          [doc]="state?.localManager.document"
          [uid]="(auth.user | async)?.uid"
          [cursors]="state?.serverManager?.cursors"
          [users]="state?.serverManager?.users"
          (editorCursorMoved)="updateCursor(state?.localManager.docId, $event)"
          (editorDocShouldChange)="processChange(state?.localManager, $event)"
          (editorDocShouldAdd)="addBlockDirectly(state?.localManager, $event)"
          (ldfAddOptionToDoc)="addBlockAsOption(state?.localManager, $event)"
          (editorAskForBibleIntros)="sendBibleIntros($event, state?.bibleIntros)"
        ></ldf-editor>
        <!--<pre>
  **server last revision** = {{ serverManager.lastRevision }}
  
  **local** =
  
  {{ localManager | json }}
        </pre>
        <pre>**changes** =
  
          {{ revisions$ | async | json }}
  </pre>-->
      </article>
    </ion-content>
  </ng-container>
</ng-container>

<!-- If we have a docId, but no document yet -- loading-->
<ng-template #nodoc>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><h1>{{ 'editor.title' | translate}}</h1></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content #list [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"><h1>{{ 'editor.title' | translate }}</h1></ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="loading ion-padding">{{ 'editor.loading-document' | translate }}</div>
  </ion-content>
</ng-template>