ldf-editor {
  display: block;
  margin: auto;
  padding-bottom: 2em;
}

.loading {
  display: block;
  margin: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .sm-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
}

@media (min-width: 767px) {
  .sm-only {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
}

.status.pending {
  color: #a0a0a0;
}

.status.success {
  color: green;
}
.status.error {
  color: red;
}

.ldf-wrapper {
  max-width: calc(100vw - 2em);
  margin: auto;
  background-color: var(--ldf-background-color);
  padding: 1em;
  box-shadow: 5px;
}

@media (min-width: 767px) {
  .ldf-wrapper {
    padding: 2em;
  }
}

@media (min-width: 1024px) {
  .ldf-wrapper {
    padding: 3em;
  }
}
