ldf-heading, :host {
  font-family: var(--ldf-font-face);

  ldf-string {
    display: block;
    text-align: var(--ldf-text-align);
  }

  ldf-label-bar.text {
    margin-top: var(--ldf-heading-margin-top);
  }

  h1 {
    text-align: var(--ldf-title-text-align);
    font-weight: var(--ldf-title-font-weight);
    font-style: var(--ldf-title-font-style);
    font-variant: var(--ldf-title-font-variant);
    font-size: var(--ldf-title-font-size);
    text-transform: var(--ldf-title-text-transform);
  }

  h2 {
    text-align: var(--ldf-subtitle-text-align);
    font-weight: var(--ldf-subtitle-font-weight);
    font-style: var(--ldf-subtitle-font-style);
    font-variant: var(--ldf-subtitle-font-variant);
    font-size: var(--ldf-subtitle-font-size);
    text-transform: var(--ldf-subtitle-text-transform);
  }

  h3 {
    text-align: var(--ldf-h3-text-align);
    font-weight: var(--ldf-h3-font-weight);
    font-style: var(--ldf-h3-font-style);
    font-variant: var(--ldf-h3-font-variant);
    font-size: var(--ldf-h3-font-size);
    text-transform: var(--ldf-h3-text-transform);
  }

  h4 {
    text-align: var(--ldf-h4-text-align);
    font-weight: var(--ldf-h4-font-weight);
    font-style: var(--ldf-h4-font-style);
    font-variant: var(--ldf-h4-font-variant);
    font-size: var(--ldf-h4-font-size);
    text-transform: var(--ldf-h4-text-transform);
  }

  h5 {
    text-align: var(--ldf-h5-text-align);
    font-weight: var(--ldf-h5-font-weight);
    font-style: var(--ldf-h5-font-style);
    font-variant: var(--ldf-h5-font-variant);
    font-size: var(--ldf-h5-font-size);
    text-transform: var(--ldf-h5-text-transform);
  }

  .date,
  .holy-days,
  .holy-day {
    font-size: var(--ldf-date-font-size);
    text-transform: var(--ldf-date-text-transform);
    text-align: var(--ldf-date-text-align);
    font-style: var(--ldf-date-font-style);
  }

  .holy-days {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .holy-day {
    margin: var(--ldf-holy-day-margin);
    padding: 0;
  }
}

.lookup {
  background-color: var(--ldf-editable-lookup-background-color);
  color: var(--ldf-editable-lookup-color);
  border-radius: 4px;
  padding: 1em;
  width: 100%;
}

::slotted[slot="citation"] {
  text-align: right;
}

.citation {
  font-style: italic;
}
