<form (submit)="submit()">
  <ion-item>
    <ion-label position="stacked">{{ 'editor.psalmCitation' | translate }}</ion-label>
    <ion-input [placeholder]="'editor.psalmCitationExample' | translate" ngDefaultControl name="entry" [formControl]="entry"></ion-input>
    <ion-text *ngIf="error" color="danger">{{ error }}</ion-text>
  </ion-item>
  <ion-button role="submit" (click)="submit()" *ngIf="options?.length > 1 else disabledButton">
    <ion-label>{{ 'ok' | translate }}</ion-label>
  </ion-button>
</form>

<p class="or">{{ 'editor.or' | translate }}</p>

<ng-template #disabledButton>
  <ion-button disabled>
    <ion-label>{{ 'loading' | translate }}</ion-label>
  </ion-button>
</ng-template>