.lookup {
  background-color: var(--ldf-editable-lookup-background-color);
  color: var(--ldf-editable-lookup-color);
  border-radius: 4px;
  padding: 1em;
  width: 100%;

  code {
    font-weight: bold;
  }
}

.condition {
  background-color: var(--ldf-editable-condition-background-color);
  color: var(--ldf-editable-condition-color);
  border-radius: 4px;
  padding: 1em;
  width: 100%;

  code {
    font-weight: bold;
  }
}

.doc {
  margin-top: var(--ldf-liturgical-document-margin-top);
}

ldf-editable-metadata-buttons {
  height: none;
  display: block;
  z-index: 10;
  background: var(--ldf-background);
  opacity: 0.8;
  width: 100%;
  position: relative;
}

.doc.editable {
  margin-top: calc(-2em + var(--ldf-liturgical-document-margin-top, 0));
  padding-top: 2em;
}
