ldf-liturgical-document, :host {
  font-family: var(--ldf-font-face);
  display: block;
}

.container.editable {
  padding-top: 0;
}

.lookup {
  background-color: var(--ldf-editable-lookup-background-color);
  color: var(--ldf-editable-lookup-color);
  border-radius: 4px;
  margin-bottom: 1.5em;
  padding: 1em;
  width: calc(100% - 2em);

  code {
    font-weight: bold;
  }
}

.condition {
  background-color: var(--ldf-editable-condition-background-color);
  color: var(--ldf-editable-condition-color);
  border-radius: 4px;
  padding: 1em;
  width: calc(100% - 2em);

  code {
    font-weight: bold;
  }
}

.doc {
  margin-top: var(--ldf-liturgical-document-margin-top);
}

ldf-editable-metadata-buttons {
  height: none;
  display: block;
  z-index: 10;
  background: var(--ldf-background);
  opacity: 0.8;
  width: 100%;
  position: sticky;
  top: 2em;
  /*position: relative;*/
  padding-top: 1em;
  padding-bottom: 1em;
}

ldf-editable-metadata-buttons.top-level {
  position: relative;
  top: 0;
}