.lookup {
  background-color: var(--ldf-editable-lookup-background-color);
  color: var(--ldf-editable-lookup-color);
  border-radius: 4px;
  padding: 1em;
  width: 100%;

  code {
    font-weight: bold;
  }
}