.patreon-button,
.patreon-button ion-img {
  max-width: 150px;
}

.patreon-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-card {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
