:host {
  font-family: var(--ldf-font-face);
  display: block;

  p {
    font-style: inherit;
    margin-bottom: 0;
    margin: 0;
  }
}

.antiphon {
  font-style: var(--ldf-antiphon-font-style);
}

.gloria {
  margin-left: calc(var(--ldf-gloria-indent) / 2);
  text-indent: calc(var(--ldf-gloria-indent) / -2);
}

@media (min-width: 450px) {
  .gloria {
    margin-left: var(--ldf-gloria-indent);
    text-indent: calc(var(--ldf-gloria-indent) * -1);

    > p:first-child {
      margin-left: 0em;
    }

    > p:nth-child(even) {
      margin-left: 1em;
    }
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}