<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Venite.app — Liturgy Document Format (LDF) Playground</title>

  <!-- Drop in these four lines to run anywhere -->
  <link rel="stylesheet" href="/build/ldf.css">
  <script type="module" src="/build/ldf.esm.js"></script>
  <script nomodule src="/build/ldf.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" rel="stylesheet">
  <style>
    :root {
      --ldf-unison-font-weight: bold;
      --ldf-response-font-weight: bold;
      --ldf-h3-font-weight: bold;
      --ldf-text-align: justify;
    }
    .content {
      max-width: 600px;
      display: block;
      margin: auto;
    }
  </style>
</head>
<body>
    <ion-content id='example' class="content ion-padding dropcaps-plain psalmverses-true bibleverses-false">
    </ion-content>

  <script>
    document.addEventListener('ldfSelectionChange', (ev) => console.log('(ldfSelectionChange)', ev));
    document.addEventListener('ldfDocumentSelected', (ev) => console.log('document selected', ev));
    document.addEventListener('ldfDocShouldChange', (ev) => console.log('(ldfDocShouldChange)', ev.detail));
    document.addEventListener('ldfAddOptionToDoc', (ev) => console.log('(ldfAddOptionToDoc)', ev));
    document.addEventListener('ldfAddChildAfter', (ev) => console.log('(ldfAddChildAfter)', ev));
    document.addEventListener('ldfDocShouldMove', (ev) => console.log('(ldfDocShouldMove)', ev));
    document.addEventListener('ldfAskForBibleIntros', (ev) => { 
      console.log('(ldfAskForBibleIntros)', ev.originalTarget);
      ev.originalTarget.setBibleReadingIntros([
        { "type": "text", "style": "text", "value": ["A Reading from ${shortName}."]}
      ]);
    });
    document.addEventListener('editorAskForCanticleOptions', (ev) => { 
      console.log('(editorAskForCanticleOptions)', ev.detail);
      ev.detail.setVersions({
        "bcp1979": "Rite II",
        "rite_i": "Rite I"
      })
      ev.detail.setOptions([{
        type: "psalm",
        style: "canticle",
        label: "Canticle 16. Benedictus",
        version: "bcp1979",
        value: []
      }])
    });

    document.addEventListener('ldfStringClicked', (ev) => {
      console.log('ldfStringClicked', ev);
    })

    const LITURGY = {"type": "text", "style": "prayer", "value": ["Holy Father, who hast nourished and strengthened thy church by the writings of thy servant Thomas à Kempis: Grant that  we may learn from him to know what is necessary to be known, to  love  what  is  to  be  loved,  to  praise  what  highly  pleases  thee,  and   always to seek to know and to follow thy will; through Jesus Christ  our Lord, who liveth and reigneth with thee and the Holy Ghost, one  God, for ever and ever."]}
    const node = document.createElement('ldf-liturgical-document');
    node.setAttribute('doc', JSON.stringify(LITURGY));
    node.setAttribute('editable', false);
    node.setAttribute('preview', false);
    node.setAttribute('path', '/');
    document.querySelector('#example').appendChild(node);
  </script>
</body>
</html>
