<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Venite.app — Liturgy Document Format (LDF) Playground</title>

  <!-- Drop in these four lines to run anywhere -->
  <link rel="stylesheet" href="/build/ldf.css">
  <script type="module" src="/build/ldf.esm.js"></script>
  <script nomodule src="/build/ldf.js"></script>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" rel="stylesheet">
  <style>
    :root {
      --ldf-unison-font-weight: bold;
      --ldf-response-font-weight: bold;
    }
  </style>
</head>
<body>
    <ion-content id='example' class="content ion-padding dropcaps-plain psalmverses-true bibleverses-false">
    </ion-content>

  <script>
    document.addEventListener('ldfDocumentSelected', (ev) => console.log('document selected', ev));
    document.addEventListener('ldfDocShouldChange', (ev) => console.log('(ldfDocShouldChange)', ev));
    document.addEventListener('ldfAddChildAfter', (ev) => console.log('(ldfAddChildAfter)', ev));
    document.addEventListener('ldfAskForBibleIntros', (ev) => { 
      console.log('(ldfAskForBibleIntros)', ev.originalTarget);
      ev.originalTarget.setBibleReadingIntros([
        { "type": "text", "style": "text", "value": ["A Reading from ${shortName}."]}
      ]);
    });
    document.addEventListener('editorAskForCanticleOptions', (ev) => { 
      console.log('(editorAskForCanticleOptions)', ev.detail);
      ev.detail.setVersions({
        "bcp1979": "Rite II",
        "rite_i": "Rite I"
      })
      ev.detail.setOptions([{
        type: "psalm",
        style: "canticle",
        label: "Canticle 16. Benedictus",
        version: "bcp1979",
        value: []
      }])
    });

    const LITURGY = {
  "hidden": false,
  "date_modified": {
    "seconds": 1603548397,
    "nanoseconds": 756000000
  },
  "version": "Rite-II",
  "language": "en",
  "type": "liturgy",
  "sharing": {
    "privacy": "public",
    "organization": "venite",
    "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
    "collaborators": [],
    "status": "published"
  },
  "metadata": {
    "special_preferences": {},
    "liturgyversions": [
      "bcp1979",
      "eow"
    ],
    "preferences": {
      "angelus": {
        "options": [
          {
            "metadata": {
              "alternateYear": false
            },
            "label": "—",
            "value": "none",
            "default": false
          },
          {
            "metadata": {
              "alternateYear": false
            },
            "label": "Before the Liturgy",
            "value": "before",
            "default": false
          },
          {
            "metadata": {
              "alternateYear": false
            },
            "value": "after",
            "label": "After the Liturgy",
            "default": false
          }
        ],
        "label": "Angelus",
        "key": "angelus"
      },
      "insertGloria": {
        "options": [
          {
            "default": false,
            "value": "false",
            "label": "No",
            "metadata": {
              "alternateYear": false
            }
          },
          {
            "label": "Yes",
            "default": false,
            "value": "true",
            "metadata": {
              "alternateYear": false
            }
          }
        ],
        "key": "insertGloria",
        "category": "Advanced",
        "label": "Insert Gloria Patri after each Psalm"
      }
    }
  },
  "category": [],
  "label": "Noonday Prayer",
  "lastRevision": 301,
  "slug": "noonday-prayer",
  "value": [
    {
      "type": "meditation"
    },
    {
      "hidden": false,
      "value": [
        "Noonday Prayer"
      ],
      "metadata": {
        "level": 3
      },
      "type": "heading",
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "value": [
        ""
      ],
      "style": "date",
      "type": "heading",
      "metadata": {
        "level": 2
      },
      "label": "",
      "citation": "",
      "condition": {
        "mode": "and",
        "conditions": [
          {
            "preference": {
              "key": "properPsalmsSundays",
              "value": "yes",
              "is": true
            }
          },
          {
            "weekday": {
              "only": [
                "Sunday"
              ]
            }
          }
        ]
      },
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "label": "",
      "style": "day",
      "citation": "",
      "metadata": {
        "level": 2
      },
      "value": [
        ""
      ],
      "type": "heading",
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    null,
    null,
    {
      "hidden": false,
      "style": "preces",
      "type": "responsive",
      "value": [
        {
          "label": "Officiant",
          "response": "",
          "text": "O God, make speed to save us."
        },
        {
          "text": "O Lord, make haste to help us.",
          "label": "People"
        }
      ],
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "type": "option",
      "metadata": {
        "selected": 0
      },
      "value": [
        {
          "category": [
            null
          ],
          "citation": null,
          "label": null,
          "hidden": false,
          "type": "refrain",
          "style": "gloria",
          "version_label": "Rite II",
          "language": "en",
          "sharing": {
            "status": "published",
            "organization": "venite",
            "collaborators": [],
            "privacy": "public",
            "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2"
          },
          "version": "bcp1979",
          "slug": "gloria-patri",
          "value": [
            "Glory&nbsp;to&nbsp;the&nbsp;Father,&nbsp;and&nbsp;to&nbsp;the&nbsp;Son, and&nbsp;to&nbsp;the&nbsp;Holy&nbsp;Spirit:&nbsp;*",
            "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
          ]
        },
        {
          "citation": null,
          "value": [
            "Praise to the holy and undivided Trinity, one God:  ",
            "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
          ],
          "style": "gloria",
          "language": "en",
          "type": "refrain",
          "slug": "gloria-patri",
          "version_label": "EOW",
          "sharing": {
            "privacy": "public",
            "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
            "collaborators": [],
            "status": "published",
            "organization": "venite"
          },
          "hidden": false,
          "label": null,
          "version": "eow",
          "category": [
            null
          ]
        }
      ]
    },
    {
      "hidden": false,
      "value": [
        "Alleluia."
      ],
      "style": "text",
      "type": "text",
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "metadata": {
        "omit_gloria": true,
        "localname": "Psalm 119: Nun",
        "latinname": "Lucerna pedibus meis",
        "omit_antiphon": false,
        "number": "119",
        "gloria": {
          "hidden": false,
          "type": "option",
          "metadata": {
            "selected": 0
          },
          "value": [
            {
              "category": [
                null
              ],
              "citation": null,
              "label": null,
              "hidden": false,
              "type": "refrain",
              "style": "gloria",
              "version_label": "Rite II",
              "language": "en",
              "sharing": {
                "status": "published",
                "organization": "venite",
                "collaborators": [],
                "privacy": "public",
                "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2"
              },
              "version": "bcp1979",
              "slug": "gloria-patri",
              "value": [
                "Glory&nbsp;to&nbsp;the&nbsp;Father,&nbsp;and&nbsp;to&nbsp;the&nbsp;Son, and&nbsp;to&nbsp;the&nbsp;Holy&nbsp;Spirit:&nbsp;*",
                "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
              ]
            },
            {
              "citation": null,
              "value": [
                "Praise to the holy and undivided Trinity, one God:  ",
                "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
              ],
              "style": "gloria",
              "language": "en",
              "type": "refrain",
              "slug": "gloria-patri",
              "version_label": "EOW",
              "sharing": {
                "privacy": "public",
                "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
                "collaborators": [],
                "status": "published",
                "organization": "venite"
              },
              "hidden": false,
              "label": null,
              "version": "eow",
              "category": [
                null
              ]
            }
          ]
        }
      },
      "sharing": {
        "organization": "venite",
        "privacy": "public",
        "status": "published",
        "collaborators": [],
        "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2"
      },
      "label": "Psalm 119: Nun",
      "language": "en",
      "slug": "psalm_119_nun",
      "version": "bcp1979",
      "category": [
        "Psalm"
      ],
      "style": "canticle",
      "version_label": null,
      "source": {
        "source": "bcp1979",
        "api": "https://www.venite.app/api",
        "citation": "p. 772"
      },
      "value": [
        {
          "value": [
            {
              "type": "psalm-verse",
              "halfverse": "and a light upon my path.",
              "verse": "Your word is a lantern to my feet *",
              "number": "105"
            },
            {
              "verse": "I have sworn and am determined *",
              "number": "106",
              "halfverse": "to keep your righteous judgments.",
              "type": "psalm-verse"
            },
            {
              "type": "psalm-verse",
              "verse": "I am deeply troubled; *",
              "number": "107",
              "halfverse": "preserve my life, O LORD, according to your word."
            },
            {
              "halfverse": "and teach me your judgments.",
              "number": "108",
              "verse": "Accept, O LORD, the willing tribute of my lips, *",
              "type": "psalm-verse"
            },
            {
              "type": "psalm-verse",
              "number": "109",
              "verse": "My life is always in my hand, *",
              "halfverse": "yet I do not forget your law."
            },
            {
              "number": "110",
              "type": "psalm-verse",
              "halfverse": "but I have not strayed from your commandments.",
              "verse": "The wicked have set a trap for me, *"
            },
            {
              "halfverse": "truly, they are the joy of my heart.",
              "verse": "Your decrees are my inheritance for ever; *",
              "type": "psalm-verse",
              "number": "111"
            },
            {
              "type": "psalm-verse",
              "halfverse": "for ever and to the end.",
              "verse": "I have applied my heart to fulfill your statutes *",
              "number": "112"
            }
          ],
          "type": "psalm-section"
        }
      ],
      "citation": null,
      "display_format": "wholeverse",
      "type": "psalm"
    },
    {
      "hidden": false,
      "category": [
        "Psalm"
      ],
      "language": "en",
      "style": "psalm",
      "value": [
        {
          "value": [
            {
              "number": "1",
              "type": "psalm-verse",
              "halfverse": "from where is my help to come?",
              "verse": "I lift up my eyes to the hills; *"
            },
            {
              "number": "2",
              "verse": "My help comes from the LORD, *",
              "type": "psalm-verse",
              "halfverse": "the maker of heaven and earth."
            },
            {
              "halfverse": "and he who watches over you will not fall asleep.",
              "number": "3",
              "type": "psalm-verse",
              "verse": "He will not let your foot be moved *"
            },
            {
              "halfverse": "shall neither slumber nor sleep;",
              "verse": "Behold, he who keeps watch over Israel *",
              "number": "4",
              "type": "psalm-verse"
            },
            {
              "verse": "The LORD himself watches over you; *",
              "halfverse": "the LORD is your shade at your right hand,",
              "number": "5",
              "type": "psalm-verse"
            },
            {
              "verse": "So that the sun shall not strike you by day, *",
              "halfverse": "nor the moon by night.",
              "number": "6",
              "type": "psalm-verse"
            },
            {
              "halfverse": "it is he who shall keep you safe.",
              "type": "psalm-verse",
              "number": "7",
              "verse": "The LORD shall preserve you from all evil; *"
            },
            {
              "type": "psalm-verse",
              "number": "8",
              "verse": "The LORD shall watch over your going out and your coming in, *",
              "halfverse": "from this time forth for evermore."
            }
          ],
          "type": "psalm-section"
        }
      ],
      "label": "Psalm 121",
      "citation": null,
      "version_label": null,
      "sharing": {
        "collaborators": [],
        "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
        "organization": "venite",
        "privacy": "public",
        "status": "published"
      },
      "metadata": {
        "latinname": "Levavi oculum",
        "omit_antiphon": false,
        "omit_gloria": true,
        "localname": "Psalm 121",
        "number": "121",
        "gloria": {
          "hidden": false,
          "type": "option",
          "metadata": {
            "selected": 0
          },
          "value": [
            {
              "category": [
                null
              ],
              "citation": null,
              "label": null,
              "hidden": false,
              "type": "refrain",
              "style": "gloria",
              "version_label": "Rite II",
              "language": "en",
              "sharing": {
                "status": "published",
                "organization": "venite",
                "collaborators": [],
                "privacy": "public",
                "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2"
              },
              "version": "bcp1979",
              "slug": "gloria-patri",
              "value": [
                "Glory&nbsp;to&nbsp;the&nbsp;Father,&nbsp;and&nbsp;to&nbsp;the&nbsp;Son, and&nbsp;to&nbsp;the&nbsp;Holy&nbsp;Spirit:&nbsp;*",
                "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
              ]
            },
            {
              "citation": null,
              "value": [
                "Praise to the holy and undivided Trinity, one God:  ",
                "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
              ],
              "style": "gloria",
              "language": "en",
              "type": "refrain",
              "slug": "gloria-patri",
              "version_label": "EOW",
              "sharing": {
                "privacy": "public",
                "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
                "collaborators": [],
                "status": "published",
                "organization": "venite"
              },
              "hidden": false,
              "label": null,
              "version": "eow",
              "category": [
                null
              ]
            }
          ]
        }
      },
      "source": {
        "citation": "p. 779",
        "source": "bcp1979",
        "api": "https://www.venite.app/api"
      },
      "type": "psalm",
      "version": "bcp1979",
      "slug": "psalm_121"
    },
    {
      "hidden": false,
      "language": "en",
      "sharing": {
        "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
        "privacy": "public",
        "status": "published",
        "collaborators": [],
        "organization": "venite"
      },
      "slug": "psalm_126",
      "version": "bcp1979",
      "source": {
        "source": "bcp1979",
        "api": "https://www.venite.app/api",
        "citation": "p. 782"
      },
      "type": "psalm",
      "style": "psalm",
      "citation": null,
      "value": [
        {
          "value": [
            {
              "halfverse": "then were we like those who dream.",
              "verse": "When the LORD restored the fortunes of Zion, *",
              "type": "psalm-verse",
              "number": "1"
            },
            {
              "number": "2",
              "halfverse": "and our tongue with shouts of joy.",
              "verse": "Then was our mouth filled with laughter, *",
              "type": "psalm-verse"
            },
            {
              "number": "3",
              "halfverse": "“The LORD has done great things for them.”",
              "type": "psalm-verse",
              "verse": "Then they said among the nations, *"
            },
            {
              "halfverse": "and we are glad indeed.",
              "number": "4",
              "verse": "The LORD has done great things for us, *",
              "type": "psalm-verse"
            },
            {
              "type": "psalm-verse",
              "number": "5",
              "verse": "Restore our fortunes, O LORD, *",
              "halfverse": "like the watercourses of the Negev."
            },
            {
              "verse": "Those who sowed with tears *",
              "number": "6",
              "type": "psalm-verse",
              "halfverse": "will reap with songs of joy."
            },
            {
              "verse": "Those who go out weeping, carrying the seed, *",
              "number": "7",
              "type": "psalm-verse",
              "halfverse": "will come again with joy, shouldering their sheaves."
            }
          ],
          "type": "psalm-section"
        }
      ],
      "category": [
        "Psalm"
      ],
      "version_label": null,
      "metadata": {
        "localname": "Psalm 126",
        "number": "126",
        "omit_antiphon": false,
        "latinname": "In convertendo",
        "omit_gloria": true,
        "gloria": {
          "hidden": false,
          "type": "option",
          "metadata": {
            "selected": 0
          },
          "value": [
            {
              "category": [
                null
              ],
              "citation": null,
              "label": null,
              "hidden": false,
              "type": "refrain",
              "style": "gloria",
              "version_label": "Rite II",
              "language": "en",
              "sharing": {
                "status": "published",
                "organization": "venite",
                "collaborators": [],
                "privacy": "public",
                "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2"
              },
              "version": "bcp1979",
              "slug": "gloria-patri",
              "value": [
                "Glory&nbsp;to&nbsp;the&nbsp;Father,&nbsp;and&nbsp;to&nbsp;the&nbsp;Son, and&nbsp;to&nbsp;the&nbsp;Holy&nbsp;Spirit:&nbsp;*",
                "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
              ]
            },
            {
              "citation": null,
              "value": [
                "Praise to the holy and undivided Trinity, one God:  ",
                "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
              ],
              "style": "gloria",
              "language": "en",
              "type": "refrain",
              "slug": "gloria-patri",
              "version_label": "EOW",
              "sharing": {
                "privacy": "public",
                "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
                "collaborators": [],
                "status": "published",
                "organization": "venite"
              },
              "hidden": false,
              "label": null,
              "version": "eow",
              "category": [
                null
              ]
            }
          ]
        }
      },
      "label": "Psalm 126"
    },
    {
      "hidden": false,
      "type": "option",
      "metadata": {
        "selected": 0
      },
      "value": [
        {
          "category": [
            null
          ],
          "citation": null,
          "label": null,
          "hidden": false,
          "type": "refrain",
          "style": "gloria",
          "version_label": "Rite II",
          "language": "en",
          "sharing": {
            "status": "published",
            "organization": "venite",
            "collaborators": [],
            "privacy": "public",
            "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2"
          },
          "version": "bcp1979",
          "slug": "gloria-patri",
          "value": [
            "Glory&nbsp;to&nbsp;the&nbsp;Father,&nbsp;and&nbsp;to&nbsp;the&nbsp;Son, and&nbsp;to&nbsp;the&nbsp;Holy&nbsp;Spirit:&nbsp;*",
            "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
          ]
        },
        {
          "citation": null,
          "value": [
            "Praise to the holy and undivided Trinity, one God:  ",
            "as&nbsp;it&nbsp;was&nbsp;in&nbsp;the&nbsp;beginning,&nbsp;is&nbsp;now, and&nbsp;will&nbsp;be&nbsp;for&nbsp;ever.&nbsp;Amen."
          ],
          "style": "gloria",
          "language": "en",
          "type": "refrain",
          "slug": "gloria-patri",
          "version_label": "EOW",
          "sharing": {
            "privacy": "public",
            "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
            "collaborators": [],
            "status": "published",
            "organization": "venite"
          },
          "hidden": false,
          "label": null,
          "version": "eow",
          "category": [
            null
          ]
        }
      ]
    },
    {
      "hidden": false,
      "language": "en",
      "value": [
        {
          "book": "2 Cor.",
          "chapter": "5",
          "verse": "17-18",
          "text": "If anyone is in Christ he is a new creation; the old has passed away, behold the new has come. All this is from God, who through Christ reconciled us to himself and gave us the ministry of reconciliation. "
        }
      ],
      "version": "bcp1979",
      "citation": " 2 Corinthians 5:17-18",
      "category": [],
      "sharing": {
        "status": "published",
        "collaborators": [],
        "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
        "privacy": "public",
        "organization": "venite"
      },
      "type": "bible-reading",
      "metadata": {
        "response": "Thanks be to God."
      },
      "lastRevision": 21,
      "slug": "noonday_sentence",
      "style": "short"
    },
    {
      "hidden": false,
      "type": "rubric",
      "metadata": {},
      "value": [
        "A meditation, silent or spoken, may follow."
      ],
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "type": "meditation",
      "metadata": {
        "delay": 0,
        "length": 300
      },
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "value": [
        "The Officiant then begins the Prayers"
      ],
      "type": "rubric",
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "value": [
        {
          "response": "Christ, have mercy.",
          "text": "Lord, have mercy.",
          "label": ""
        },
        {
          "text": "Lord, have mercy.",
          "response": ""
        }
      ],
      "style": "responsive",
      "type": "responsive",
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "value": [
        {
          "hidden": false,
          "category": [],
          "version_label": "Traditional",
          "display_format": "unison",
          "style": "prayer",
          "value": [
            "Our Father, who art in heaven,\n\thallowed be thy Name,\n\tthy kingdom come,\n\tthy will be done,\n\ton earth as it is in heaven.\nGive us this day our daily bread.\nAnd forgive us our trespasses,\n\tas we forgive those\n\twho trespass against us.\nAnd lead us not into temptation,\n\tbut deliver us from evil."
          ],
          "metadata": {
            "omit_response": true
          },
          "source": {
            "source": "",
            "api": "",
            "citation": ""
          },
          "type": "text",
          "day": {
            "evening": false,
            "date": "2020-11-14",
            "kalendar": "bcp1979",
            "slug": "saturday-23rd-pentecost",
            "propers": "saturday-proper-27",
            "week": {
              "omit_the": false,
              "cycle": "Easter",
              "slug": "23rd-pentecost",
              "color": "Green",
              "kalendar": "bcp1979",
              "name": "Twenty-Third Sunday after Pentecost",
              "season": "OrdinaryTime",
              "week": 37,
              "proper": 27,
              "propers": "proper-27"
            },
            "years": {
              "bcp1979_daily_office": 2,
              "bcp1979_daily_psalms": 2,
              "rclsunday": "A"
            },
            "holy_days": [
              {
                "kalendar": "bcp1979",
                "type": {
                  "rank": 2,
                  "name": "Black Letter"
                },
                "mmdd": "11/14",
                "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
              }
            ],
            "season": "OrdinaryTime",
            "color": "Green"
          }
        },
        {
          "hidden": false,
          "style": "prayer",
          "version_label": "Contemporary",
          "value": [
            "Our Father in heaven,\n\thallowed be your Name,\n\tyour kingdom come,\n\tyour will be done,\n\ton earth as in heaven.\nGive us today our daily bread.\nForgive us our sins,\n\tas we forgive those\n\twho sin against us.\nSave us from the time of trial,\n\tand deliver us from evil."
          ],
          "display_format": "unison",
          "source": {
            "citation": "",
            "source": "",
            "api": ""
          },
          "type": "text",
          "metadata": {
            "omit_response": true
          },
          "category": [],
          "day": {
            "evening": false,
            "date": "2020-11-14",
            "kalendar": "bcp1979",
            "slug": "saturday-23rd-pentecost",
            "propers": "saturday-proper-27",
            "week": {
              "omit_the": false,
              "cycle": "Easter",
              "slug": "23rd-pentecost",
              "color": "Green",
              "kalendar": "bcp1979",
              "name": "Twenty-Third Sunday after Pentecost",
              "season": "OrdinaryTime",
              "week": 37,
              "proper": 27,
              "propers": "proper-27"
            },
            "years": {
              "bcp1979_daily_office": 2,
              "bcp1979_daily_psalms": 2,
              "rclsunday": "A"
            },
            "holy_days": [
              {
                "kalendar": "bcp1979",
                "type": {
                  "rank": 2,
                  "name": "Black Letter"
                },
                "mmdd": "11/14",
                "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
              }
            ],
            "season": "OrdinaryTime",
            "color": "Green"
          }
        }
      ],
      "type": "option",
      "metadata": {
        "selected": 0,
        "editor_selected": 0
      },
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "value": [
        {
          "response": "",
          "label": "Officiant",
          "text": "Lord, hear our prayer."
        },
        {
          "text": "And let our cry come to you.",
          "label": "People"
        },
        {
          "text": "Let us pray.",
          "label": "Officiant"
        }
      ],
      "type": "responsive",
      "style": "preces",
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "version": "bcp1979",
      "category": [],
      "value": [
        "Almighty Savior, who at noonday called your servant Saint Paul to be an apostle to the Gentiles: We pray you to illumine the world with the radiance of your glory, that all nations may come and worship you; for you live and reign for ever and ever."
      ],
      "sharing": {
        "owner": "ikvC2kTwM0MhmiqfMOi2fFZynJr2",
        "organization": "venite",
        "status": "published",
        "privacy": "public",
        "collaborators": []
      },
      "label": "Collect with an extremely long name that's going to run into the next thing and will eventually grow to be very very big and will wrap around at some point",
      "language": "en",
      "slug": "noonday_collect",
      "style": "prayer",
      "metadata": {},
      "lastRevision": 22,
      "type": "text",
      "source": {
        "source": "bcp1979",
        "api": "https://www.venite.app/api",
        "citation": "p. 772"
      },
    },
    {
      "hidden": false,
      "type": "rubric",
      "value": [
        "Free intercessions may be offered."
      ],
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    {
      "hidden": false,
      "style": "responsive",
      "value": [
        {
          "response": "Thanks be to God.",
          "text": "Let us bless the Lord.",
          "label": ""
        }
      ],
      "type": "responsive",
      "day": {
        "evening": false,
        "date": "2020-11-14",
        "kalendar": "bcp1979",
        "slug": "saturday-23rd-pentecost",
        "propers": "saturday-proper-27",
        "week": {
          "omit_the": false,
          "cycle": "Easter",
          "slug": "23rd-pentecost",
          "color": "Green",
          "kalendar": "bcp1979",
          "name": "Twenty-Third Sunday after Pentecost",
          "season": "OrdinaryTime",
          "week": 37,
          "proper": 27,
          "propers": "proper-27"
        },
        "years": {
          "bcp1979_daily_office": 2,
          "bcp1979_daily_psalms": 2,
          "rclsunday": "A"
        },
        "holy_days": [
          {
            "kalendar": "bcp1979",
            "type": {
              "rank": 2,
              "name": "Black Letter"
            },
            "mmdd": "11/14",
            "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
          }
        ],
        "season": "OrdinaryTime",
        "color": "Green"
      }
    },
    null
  ],
  "day": {
    "evening": false,
    "date": "2020-11-14",
    "kalendar": "bcp1979",
    "slug": "saturday-23rd-pentecost",
    "propers": "saturday-proper-27",
    "week": {
      "omit_the": false,
      "cycle": "Easter",
      "slug": "23rd-pentecost",
      "color": "Green",
      "kalendar": "bcp1979",
      "name": "Twenty-Third Sunday after Pentecost",
      "season": "OrdinaryTime",
      "week": 37,
      "proper": 27,
      "propers": "proper-27"
    },
    "years": {
      "bcp1979_daily_office": 2,
      "bcp1979_daily_psalms": 2,
      "rclsunday": "A"
    },
    "holy_days": [
      {
        "kalendar": "bcp1979",
        "type": {
          "rank": 2,
          "name": "Black Letter"
        },
        "mmdd": "11/14",
        "name": "Consecration of Samuel Seabury, First American Bishop, 1784"
      }
    ],
    "season": "OrdinaryTime",
    "color": "Green"
  }
}


    const node = document.createElement('ldf-liturgical-document');
    node.setAttribute('doc', JSON.stringify(LITURGY));
    node.setAttribute('editable', true);
    node.setAttribute('preview', true);
    node.setAttribute('path', '/');
    document.querySelector('#example').appendChild(node);
  </script>
</body>
</html>
