<!-- If logged in, show avatar with button for sign-in menu -->
<ng-container *ngIf="auth.user | async as user else signin">
  <ng-container *ngIf="user">
    <ion-menu-toggle menu="end">
      <ion-button fill="clear">
        <ion-avatar *ngIf="user.photoURL" slot="end">
          <img [src]="user.photoURL" [alt]="user.displayName || ''">
        </ion-avatar>
        <ion-avatar *ngIf="!user.photoURL" slot="end">
          <img src="/assets/avatar.svg" [alt]="user.displayName || ''">
        </ion-avatar>
      </ion-button>
    </ion-menu-toggle>
  </ng-container>
</ng-container>

<!-- If not logged in, show signin button -->
<ng-template #signin>
  <ion-button (click)="signIn()" fill="clear">
    <ion-avatar>
      <img src="/assets/avatar.svg" alt="Sign In">
    </ion-avatar>
  </ion-button>
</ng-template>
