:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* Center buttons within button container */
  .button-container {
    display: flex;
    align-items: center;
    height: 0; /* 2em; */
    justify-content: center;
    width: 100%;
  }

  /* Shared button styles */
  button {
    background-color: var(--ldf-background-color);
    color: var(--ldf-color);
    font-family: var(--ldf-controls-font-family);
    font-weight: lighter;
  }

  button:hover {
    cursor: pointer;
  }

  /* Shared animations */
  .visible {
    height: 0;
    opacity: 1;
    transition: 0.25s;
  }

  .hidden {
    height: 0;
    opacity: 0;
    transition: 0.25s;
  }

  /* Add Block */
  .underlying {
    width: 100%;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    min-height: 1em;
    position: relative;
    bottom: 0.5em;
    z-index: -1;
  }

  .underlying.visible {
    opacity: 0.5;
    transition: 0.25s;
  }

  .underlying.visible.expanded {
    z-index: 1;
  }

  .underlying.collapsed {
    height: 1em;
  }

  .underlying.hidden {
    opacity: 0;
    transition: 1s;

    button {
      z-index: -1;
    }
  }

  /* Options within add block */
  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
}

.button {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.25s;
}

/* Shared animations */
.hidden {
  display: none;
  height: 0;
  opacity: 0;
  transition: all 0.25s;
}
