:host {
  width: 100%;

  /* Center buttons within button container */
  .button-container {
    display: flex;
    align-items: center;
    height: 2em;
    justify-content: center;
    width: 100%;
  }

  /* Shared button styles */
  button {
    background-color: var(--ldf-background-color);
    color: var(--ldf-color);
    font-family: var(--ldf-controls-font-family);
    font-weight: lighter;
  }

  button:hover {
    cursor: pointer;
  }

  /* Shared animations */
  button.visible {
    opacity: 1;
    transition: 0.25s;
  }

  button.hidden {
    opacity: 0;
    transition: 0.25s;
  }

  /* Circular (+) Add Button */
  button.add {
    border: 1px solid #808080;
    border-radius: 50%;
    box-shadow: 0 0 5px #cccccc;
    color: #808080;
    font-size: 2em;
  }

  /* Add Block */
  .underlying {
    width: 100%;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    min-height: 1em;
    position: relative;
    bottom: 1.5em;
    z-index: -1;
  }

  .underlying.visible {
    opacity: 0.5;
    transition: 0.25s;
  }

  .underlying.visible.expanded {
    z-index: 1;
  }

  .underlying.collapsed {
    height: 1em;
  }

  .underlying.hidden {
    opacity: 0;
    transition: 1s;

    button {
      z-index: -1;
    }
  }

  /* Options within add block */
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }

  .options.collapsed button, .options.collapsed ion-button {
    height: 0;
    opacity: 0;
    transition: 0.25s;
    width: 2em;
    z-index: -1;
  }

  .options.expanded button, .options.expanded ion-button {
    opacity: 1;
    transition: 0.25s;
    z-index: 1;
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }
}
