:host {
  font-family: var(--ldf-font-face);
  font-weight: inherit;
  font-style: inherit;
  /*white-space: pre-wrap;*/
  text-align: var(--ldf-text-align);
}

.tab {
  display: inline;
  margin-left: var(--ldf-tab-width);
}
.half-tab {
  display: inline;
  margin-left: var(--ldf-half-tab-width);
}

.sc {
  font-variant: small-caps;
}

.drop {
  font-size: 200%;
}

.firstword {
  font-variant: var(--ldf-drop-firstword-font-variant);
}

.drop {
  float: var(--ldf-drop-float);
  font-family: var(--ldf-drop-font-family);
  font-size: var(--ldf-drop-font-size);
  margin-right: var(--ldf-drop-margin-right);
  margin-top: var(--ldf-drop-margin-top);
  line-height: var(--ldf-drop-line-height);
  color: var(--ldf-drop-color);
}

.buffered-drop {
  margin-right: var(--ldf-buffered-drop-margin-right);
}

:host[dir="rtl"] .drop {
  float: right;
  font-family: "Times New Roman";
}

.drop-J {
  margin-top: 0;
  line-height: clamp(0.5em, calc(var(--ldf-drop-line-height) + 0.3em), 1em);
}

.selected {
  background-color: var(--ldf-selected-background);
}

.liked {
  background-color: var(--ldf-liked-background);
}
