:host {
  font-family: var(--ldf-font-face);
}

.psalm-set {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Psalm grid display */
.psalm-set .psalm {
  display: var(--ldf-psalm-grid-display);
  grid-template-columns: var(--ldf-psalm-grid-template-columns);
  grid-template-rows: auto;
  grid-template-areas: var(--ldf-psalm-grid-template-areas);
  margin: 0;
  text-indent: var(--ldf-psalm-verse-indentation);

  br {
    display: var(--ldf-psalm-line-break-display);
  }

  sup {
    float: var(--ldf-psalm-number-float);
    display: var(--ldf-psalm-number-display);
    grid-area: var(--ldf-psalm-number-grid-area);
    margin-right: var(--ldf-psalm-number-margin-right);
  }
  .text {
    display: var(--ldf-psalm-text-display);
    grid-area: var(--ldf-psalm-text-grid-area);
  }
  .halfverse {
    margin-left: var(--ldf-psalm-halfverse-margin-left);
  }
  .verse, .halfverse {
    display: var(--ldf-psalm-verse-display);
    display: var(--ldf-psalm-verse-display);
  }
}

.psalm-parent.no-numbers {
  display: block;
  text-align: left;
  grid-template-columns: none;
  grid-template-rows: none;
  grid-template-areas: none;

  .psalm {
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: none;

    .text {
      text-align: left;
      grid-area: none;
      display: var(--ldf-psalm-text-display);
      width: 100%;
    }
  }
}

.psalm-set:nth-of-type(1) {
  .psalm:nth-of-type(1) {
    sup {
      display: var(--ldf-psalm-first-verse-number-display);
    }
    
    .text:nth-of-type(1) {
      .verse:nth-of-type(1) {
        display: var(--ldf-psalm-first-verse-display);
      }
    }
  }
}

/* Antiphon display */
.antiphon {
  display: var(--ldf-psalm-antiphon-display);
  font-style: var(--ldf-antiphon-font-style);
  font-weight: var(--ldf-antiphon-font-weight);
  margin-top: 0.5em;
}

.repeat-antiphon {
  display: var(--ldf-psalm-repeat-antiphon-display);
}

h5 {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-right: 1em;
}

.psalm.unison .text {
  font-weight: var(--ldf-response-font-weight);
  font-style: var(--ldf-response-font-style);
}

.psalm.omit .text {
  display: none;
}

.psalm.wholeverse {
  .psalm:nth-child(even) {
    font-weight: var(--ldf-response-font-weight);
    font-style: var(--ldf-response-font-style);
  }
}

.psalm.halfverse {
  .halfverse {
    font-weight: var(--ldf-response-font-weight);
    font-style: var(--ldf-response-font-style);
  }
}