:host {
  font-family: var(--ldf-font-face);
}

.psalm-set {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Psalm grid display */
.psalm {
  display: var(--ldf-psalm-grid-display);
  grid-template-columns: var(--ldf-psalm-grid-template-columns);
  grid-template-rows: auto;
  grid-template-areas: var(--ldf-psalm-grid-template-areas);
  margin: 0;

  br {
    display: var(--ldf-psalm-line-break-display);
  }

  sup {
    display: var(--ldf-psalm-number-display);
    grid-area: var(--ldf-psalm-number-grid-area);
    margin-right: var(--ldf-psalm-number-margin-right);
  }
  .text {
    display: var(--ldf-psalm-text-display);
    grid-area: var(--ldf-psalm-text-grid-area);
  }
  .halfverse {
    margin-left: var(--ldf-psalm-halfverse-margin-left);
  }
  .verse, .halfverse {
    display: var(--ldf-psalm-verse-display);
    display: inline;
  }
}

/* Antiphon display */
.antiphon {
  display: var(--ldf-psalm-antiphon-display);
  font-style: var(--ldf-antiphon-font-style);
  font-weight: var(--ldf-antiphon-font-weight);
  margin-top: 0.5em;
}

/* Hide/show first dropcaps to avoid interfering with the dropcap */
.psalm:nth-child(0), .psalm:nth-child(1), .psalm:nth-child(2) {
  sup {
    display: var(--ldf-drop-early-verses-display);
  }
}

.repeat-antiphon {
  display: var(--ldf-psalm-repeat-antiphon-display);
}

h5 {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-right: 1em;
}
