.buttons {
  position: absolute;
  height: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  opacity: 1;
  transition: all 0.25s;

  ion-buttons {
    background-color: var(--ion-color-light, #f4f5f8);
    border-radius: 3px;
  }
}

/* Shared animations */
.hidden {
  display: none;
  height: 0;
  opacity: 0;
  transition: all 0.25s;
}

@media (max-width: 767px) {
  .sm-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
