:host {
  display: block;
}

:host textarea {
  display: block;

  width: 100%;
  max-width: 100%;
  max-height: 100%;

  border: 1px solid grey;

  outline: none;

  background: transparent;
  box-sizing: border-box;
  resize: none;
  appearance: none;

  font-family: inherit;
}

.cursor, .cursor-label {
  opacity: 0.3;
  position: absolute;
  height: 1.5em;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0;
  margin-left: -2px;
  padding-left: 2px;
  padding-right: 2px;
}

.cursor-label {
  border-top-width: 2px;
  display: block;
  font-family: sans-serif;
  font-size: 8pt;
  margin-top: -2px;
  text-align: center;
  padding-right: 3px;
  width: auto;
}

.collapsed {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  border-left-width: 1px;
  border-right-width: 0;
  border-style: dotted;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.user {
  padding-top: 3px;
  padding-bottom: 3px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0;
}
