<h2>{{ 'editor.hymn' | translate }}</h2>
<form>
  <ion-searchbar (ionChange)="filter($event.detail.value)"></ion-searchbar>
  <ion-list *ngIf="hymns$ | async as hymns else loading">
    <ion-item *ngIf="hymns?.length == 0" lines="none">
      {{ 'editor.search-for-hymns' | translate}}
    </ion-item>
    <ion-item *ngFor="let hymn of hymns">
      <ion-label>
        <p>{{ hymn.source }} {{ hymn.number }} {{ hymn.title }} <ng-container *ngIf="hymn.tune">({{ hymn.tune }})</ng-container></p>
        <div>
          <ion-button fill="clear" (click)="chooseHymn(hymn, 'title')">
            <ion-icon name="text" slot="start"></ion-icon>
            <ion-label class="sm-hidden">{{ 'editor.include-title' | translate }}</ion-label>
          </ion-button>
          <ion-button fill="clear" *ngIf="hymn.textUrl && !hymn.textUrl.endsWith('null')"  (click)="chooseHymn(hymn, 'text')">
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-label class="sm-hidden">{{ 'editor.include-text' | translate }}</ion-label>
          </ion-button>
          <ion-button fill="clear" *ngIf="hymn.imageUrl && !hymn.imageUrl.endsWith('null')" (click)="chooseHymn(hymn, 'scan')">
            <ion-icon name="camera" slot="start"></ion-icon>
            <ion-label class="sm-hidden">{{ 'editor.include-image' | translate }}</ion-label>
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</form>

<ng-template #loading>{{ 'loading' | translate }}</ng-template>