/* Menu Appearance */
.display-settings {
  display: flex;
  flex-direction: column;
}
.display-settings > .multiple {
  display: flex;
  flex-direction: row;
}
.display-settings label {
  font-family: var(--cp-ui-font-family);
  padding: 0.5rem;
  cursor: pointer;
  width: calc(100%-1rem-2px);
}
.display-settings > .multiple > label {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.display-setting-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Psalm Verses */
main.psalmverses {
  --ldf-psalm-number-display: block;
}
menu.psalmverses {
  --psalmverses-background-color: var(--cp-success-light);
  --psalmverses-toggle-color: var(--cp-success-background);
  --psalmverses-padding: calc(0.5rem - 1px);
}
label[for="psalmverses"] {
  background-color: var(--psalmverses-background-color);
  background-image: var(--psalmverses-background-image);
  color: var(--psalmverses-toggle-color);
  border: 1px solid var(--psalmverses-toggle-color, black);
  padding: var(--psalmverses-padding, 0.5rem);
  margin: 1px;
}

/* Bible Verses */
main {
  --ldf-bible-verse-display: none;
}
main.bibleverses {
  --ldf-bible-verse-display: inline-block;
}
menu.bibleverses {
  --bibleverses-background-color: var(--cp-success-light);
  --bibleverses-toggle-color: var(--cp-success-background);
  --bibleverses-padding: calc(0.5rem - 1px);
}
label[for="bibleverses"] {
  background-color: var(--bibleverses-background-color);
  background-image: var(--bibleverses-background-image);
  color: var(--bibleverses-toggle-color);
  border: 1px solid var(--bibleverses-toggle-color);
  padding: var(--bibleverses-padding, 0.5rem);
  margin: 1px;
}

/* Response */
main.responses-bold .response, main.responses-bold .unison {
  font-weight: bold;
  font-style: normal;
}
menu.responses-bold {
  --responses-bold-background-color: var(--cp-success-light);
  --responses-bold-toggle-color: var(--cp-success-background);
  --responses-bold-padding: calc(0.5rem - 1px);
}
label[for="responses-bold"] {
  background-color: var(--responses-bold-background-color);
  background-image: var(--responses-bold-background-image);
  color: var(--responses-bold-toggle-color);
  border: 1px solid var(--responses-bold-toggle-color);
  padding: var(--responses-bold-padding, 0.5rem);
  margin: 1px;
}
main.responses-italic .response, main.responses-italic .unison {
  font-weight: normal;
  font-style: italic;
}
menu.responses-italic {
  --responses-italic-background-color: var(--cp-success-light);
  --responses-italic-toggle-color: var(--cp-success-background);
  --responses-italic-padding: calc(0.5rem - 1px);
}
label[for="responses-italic"] {
  background-color: var(--responses-italic-background-color);
  background-image: var(--responses-italic-background-image);
  color: var(--responses-italic-toggle-color);
  border: 1px solid var(--responses-italic-toggle-color);
  padding: var(--responses-italic-padding, 0.5rem);
  margin: 1px;
}


.bible-reading .bible-verse-number {
  display: var(--ldf-bible-verse-display);
  margin-right: 0.25rem;
}