.menu-button {
  border-radius: 50%;
  font-family: var(--cp-ui-font-family);
  border: 1px solid var(--cp-light-border);
  background-color: var(--cp-light-background);
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-itrems: center;

  position: fixed;
  top: 0.5rem;

  transition: 0.125s linear;
  z-index: 11;
}

.menu-button:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 8px 8px rgba(0, 0, 0, 0.23);
}

.menu-button:active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}

.menu-button img {
  height: auto;
  width: 2rem;
  filter: var(--button-filter-dark);
}

#toc-menu-button {
  z-index: 16;
  left: 0.5rem;
}

#display-menu-button {
  right: 0.5rem;
}

/* Both menus */
.toc-menu, .display-settings {
  position: fixed;
  top: 0.55rem;
  transition: 1s linear;
  width: calc(100vw - 6rem);
  max-width: calc(400px);
  background-color: var(--cp-light-background);
  transition: 0.125s linear;
}

/* TOC menu */
.toc-menu {
  left: 3.5rem;
  z-index: 15;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
}
.toc-menu.hidden {
  width: 0px;
  overflow: hidden;
}

#toc-menu-button.open {
  border-radius: 50% 0 0 50%;
  box-shadow: -3px 5px 3px rgba(0, 0, 0, 0.19);
  border-right: none;
}

/* Display settings menu */
.display-settings {
  right: 3.5rem;
  z-index: 10;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.display-settings.hidden {
  width: 0px;
  overflow: hidden;
}
#display-menu-button.open {
  border-radius: 0 50% 50% 0;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.19);
  border-left: none;
}
.display-settings h2 {
  text-align: center;
  font-family: var(--cp-ui-font-family);
  margin: 0;
  padding: 0.25rem;
}