/* Option buttons */
.option > .option-labels {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: wrap;
}

.option > .option-labels > label {
  cursor: pointer;
  width: calc(100% / 4 - 2rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--cp-ui-font-family);
  font-size: 0.75rem;
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid;
  text-align: center;
}

.option > .option-labels > input {
  visibility: hidden;
}

.option > .option-labels > input:not(:checked) + label {
  border-color: var(--cp-light-border);
}

.option > .option-labels > input:not(:checked) + label:hover, .option > .option-labels > input:checked + label {
  background-color: var(--cp-success-light);
  border-color: var(--cp-success-background);
  border-width: 3px;
  padding-bottom: calc(0.25rem - 2px);
}