:host {
  font-family: var(--ldf-font-face);
  color: var(--ldf-rubric-color);
  font-style: var(--ldf-rubric-font-style);
  font-weight: var(--ldf-rubric-font-weight);
  font-size: var(--ldf-rubric-font-size);
}
