rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Users/{userId} {
      allow update, delete: if request.auth.uid == userId;
      allow read, create: if request.auth.uid != null;
    }

   match /Organization/{docId} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == resource.data.owner;
    }

   match /Preference/{docId} {
      allow read: if request.auth.uid == resource.data.uid;
      allow create, update, delete: if request.auth.uid == request.resource.data.uid;
    }

    match /Document/{docId} {
      allow read: if true;
      allow create, update, delete: if request.auth.uid != null;
    }

    match /DocumentManager/{docId} {
      allow read: if true;
      allow create, delete: if request.auth.uid != null;
      allow update: if request.resource.data.lastRevision >= resource.data.lastRevision;
    }

    match /DocumentManager/{docId}/revisionLog/{changeId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }

    match /Color/{docId} {
      allow read: if true;
      allow create, update, delete: if false;
    }

    match /HolyDay/{docId} {
      allow read: if true;
      allow create, update, delete: if false;
    }

    match /Kalendar/{docId} {
      allow read: if true;
      allow create, update, delete: if false;
    }

    match /LiturgicalWeek/{docId} {
      allow read: if true;
      allow create, update, delete: if false;
    }

    match /ProperLiturgy/{docId} {
      allow read: if true;
      allow create, update, delete: if false;
    }
  }
}