#date-controls input {
  display: block;
  margin: auto;
}

.disclaimer {
  background: var(--cp-medium-background);
  color: var(--cp-medium-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

#day-details h1 {
  text-align: center;
}

#day-details .hidden {
  display: none;
}

#day-details section.psalms {
  display: flex;
  flex-direction: row;
}

#day-details section.psalms .morning, #day-details section.psalms .evening {
  width: 50%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

fieldset label {
  display: flex;
  flex-direction: row;
}

fieldset label > input {
  margin-left: 0.5rem;
}