<ion-menu side="end" menuId="auth" id="auth" content-id="main">
  <ng-container *ngIf="auth.user | async as user">
    <ion-content>
      <nav class='auth-menu'>
        <venite-edit-avatar [user]="user" (photoURLChange)="updateUserPhoto(user, $event)"></venite-edit-avatar>
        <h2>{{ user.displayName }}</h2>
        <ng-container *ngIf="organizations$ | async as orgs">
          <ion-list class="orgs">
            <h3 *ngIf="orgs?.length > 0">{{ 'auth.organizations' | translate }}</h3>
            <ion-item button *ngFor="let org of orgs" [routerLink]="['/', 'church', org.id]" lines="none">
              {{ org.name }}
            </ion-item>
            <ion-button (click)="addChurch()" fill="clear" lines="none">{{ 'auth.add-org' | translate }}</ion-button>
          </ion-list>
        </ng-container>

        <ion-menu-toggle>
          <ion-button class="logout" (click)="logout()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>{{ 'auth.sign-out' | translate }}</ion-label>
          </ion-button>
        </ion-menu-toggle>
      </nav>
    </ion-content>
  </ng-container>
</ion-menu>
