<ion-menu side="end" menuId="auth" content-id="main">
  <ng-container *ngIf="auth.user | async as user">
<!--    <ion-header>
      <ion-toolbar>
        <ion-item lines="none">
          <ion-avatar *ngIf="user.photoURL" slot="start">
            <img [src]="user.photoURL">
          </ion-avatar>
          <ion-avatar *ngIf="!user.photoURL" slot="start">
            <img src="/avatar.svg">
          </ion-avatar>
          <ion-title>{{ user.displayName }}</ion-title>
        </ion-item>
      </ion-toolbar>
    </ion-header>-->
    <ion-content>
      <nav class='auth-menu'>
        <venite-edit-avatar [user]="user"></venite-edit-avatar>
        <h2>{{ user.displayName }}</h2>

        <section *ngIf="organizations$ | async as orgs">
          <ion-list-header *ngIf="orgs?.length > 0">{{ 'auth.organizations' | translate }}</ion-list-header>
          <ion-item *ngFor="let org of orgs" [routerLink]="['/', 'organization', org.id]">
            {{ org.name }}
          </ion-item>
        </section>

        <ion-button class="logout" (click)="auth.logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>{{ 'auth.sign-out' | translate }}</ion-label>
        </ion-button>
      </nav>
    </ion-content>
  </ng-container>
</ion-menu>
