ion-col {
  display: flex;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.psalm {
  display: block;
  max-width: var(--ldf-max-width);
  margin: auto;
}
