.label-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: 100%;
}

.label-bar.left {
  justify-content: flex-start;

  slot {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  slot:first-of-type {
    margin-left: 0;
    flex-grow: 2;
  }

  slot:nth-of-type(2) {
    flex-grow: 2;
  }

  slot:last-of-type {
    margin-left: auto;
    text-align: right;
  }

  ::slotted[slot="end"] {
    text-align: right;
  }
}

.label-bar.center {
  justify-content: space-between;

  slot {
    display: block;
  }

  slot:nth-child(1) {
    text-align: center;
  }
}