.label-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-bar.left {
  justify-content: flex-start;

  slot {
    display: block;
    margin-left: 2em;
  }
  
  slot:first-of-type {
    margin-left: 0;
  }

  slot:last-of-type {
    margin-left: auto;
    text-align: right;
  }

  ::slotted[slot="end"] {
    text-align: right;
  }
}

.label-bar.center {
  justify-content: space-between;

  slot {
    display: block;
  }

  slot:nth-child(1) {
    text-align: center;
  }
}
