.metadata {
  /*background-color: var(--ldf-color);
  color: var(--ldf-background-color);*/
  display: flex;
  flex-direction: row;

  fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
  }
}

/* Shared animations */
.visible {
  opacity: 1;
  transition: 0.25s;
  visibility: visible;
}

.hidden {
  opacity: 0;
  transition: 0.25s;
  visibility: hidden;
}

.metadata.visible {
  height: auto;
  transition: 0.75s;
  visiblity: visible;
}

.metadata.hidden {
  height: 0;
  opacity: 1;
  transition: 0.125s;
}
