<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tutorials</ion-title>
    <ion-buttons slot="end">
      <venite-auth-menu-button></venite-auth-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>1. Creating an Account</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="https://firebasestorage.googleapis.com/v0/b/venite-2.appspot.com/o/videos%2Flogging-in.mp4?alt=media&token=7ec6224b-84ed-43d5-a69b-810bf9de1aaa"></video>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>2. Creating a Bulletin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="https://firebasestorage.googleapis.com/v0/b/venite-2.appspot.com/o/videos%2Fcreating-a-bulletin.mp4?alt=media&token=6cba7b27-098e-4436-8bdd-85f55da65fcd"></video>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>3. Creating a Bulletin Template</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="https://firebasestorage.googleapis.com/v0/b/venite-2.appspot.com/o/videos%2Fbulletin-templates.mp4?alt=media&token=19bcf885-f0a5-4edc-9152-88b5712d995f"></video>
    </ion-card-content>
  </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>4. Custom Liturgies: Creating Non-Episcopal Bulletins</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This video is a little longer, but gives a good overview of how flexible Venite’s bulletin creator is, and how to use it to create templates and bulletins for any worship service, even if it’s not based on an Episcopal Church liturgy.</p>
        <p>It also gives a good overview of how to edit using blocks—and of several of the bugs that are kicking around in the beta version!</p>
        <video controls src="https://firebasestorage.googleapis.com/v0/b/venite-2.appspot.com/o/videos%2Fcustom-liturgy.mp4?alt=media&token=8c442b2f-6020-43e5-a7e6-556dc05a4854"></video>
      </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>5. Seasonal Templates: Editing the Prayers of the People</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="https://firebasestorage.googleapis.com/v0/b/venite-2.appspot.com/o/videos%2Fseasonal-potp.mp4?alt=media&token=59b2790b-475d-4969-8c51-065b8ac08ef6"></video>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>6. Adding Hymns</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="https://firebasestorage.googleapis.com/v0/b/venite-2.appspot.com/o/videos%2Fadding-hymns.mp4?alt=media&token=e5e6559a-bd18-4a99-8048-21c206a5db54"></video>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>7. Funeral Bulletins</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="https://firebasestorage.googleapis.com/v0/b/venite-2.appspot.com/o/videos%2Ffuneral.mp4?alt=media&token=625c10b3-5e67-401a-95c1-28c402316777"></video>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>8. All About Psalms</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="https://firebasestorage.googleapis.com/v0/b/venite-2.appspot.com/o/videos%2Fall-about-psalms.mp4?alt=media&token=cb37be1f-7852-4bba-99b5-0b902dc7215f"></video>
    </ion-card-content>
  </ion-card>
  <venite-sponsor></venite-sponsor>
</ion-content>
