<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tutorials</ion-title>
    <ion-buttons slot="end">
      <venite-auth-menu-button></venite-auth-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tutorial 1 — Logging In-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>1. Creating an Account</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="/assets/tutorials/logging-in.mp4"></video>
    </ion-card-content>
  </ion-card>

  <!-- Tutorial 2 — Bulletins -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>2. Creating a Bulletin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="/assets/tutorials/creating-a-bulletin.mp4"></video>
    </ion-card-content>
  </ion-card>

  <!-- Tutorial 3 — Templates-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>3. Creating a Bulletin Template</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="/assets/tutorials/bulletin-templates.mp4"></video>
    </ion-card-content>
  </ion-card>

    <!-- Tutorial 4 — Logging In-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>4. Custom Liturgies: Creating Non-Episcopal Bulletins</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This video is a little longer, but gives a good overview of how flexible Venite’s bulletin creator is, and how to use it to create templates and bulletins for any worship service, even if it’s not based on an Episcopal Church liturgy.</p>
        <p>It also gives a good overview of how to edit using blocks—and of several of the bugs that are kicking around in the beta version!</p>
        <video controls src="/assets/tutorials/custom-liturgy.mp4"></video>
      </ion-card-content>
    </ion-card>

  <!-- Tutorial 5 — Prayers of the People -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>5. Seasonal Templates: Editing the Prayers of the People</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="/assets/tutorials/seasonal-potp.mp4"></video>
    </ion-card-content>
  </ion-card>

  <!-- Tutorial 6 — Adding Hymns -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>6. Adding Hymns</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video controls src="/assets/tutorials/adding-hymns.mp4"></video>
    </ion-card-content>
  </ion-card>
</ion-content>
