<form>
  <ul>
    <li>properLiturgyLiturgy: <ng-container *ngIf="selectState | async as state">ok</ng-container></li>
    <li>selectState: <ng-container *ngIf="selectState | async as state">ok</ng-container></li>
  </ul>
  <ion-item>
    <ion-label position="stacked">{{ 'liturgy' | translate }}</ion-label>
    <ng-container *ngIf="selectState | async as data">
      <ion-select [value]="data.value" (ionChange)="update($event.detail.value, options)">
        <ion-select-option *ngFor="let liturgy of data.options" [value]="liturgy.slug">{{ liturgy.label }}</ion-select-option>
      </ion-select>
    </ng-container>
    <ion-skeleton-text *ngIf="!(liturgyOptions | async)"></ion-skeleton-text>
  </ion-item>
</form>
