<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'editor.font.edit-font' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar ngDefaultControl [formControl]="search"></ion-searchbar>
  <ion-list>
    <ion-list-header>{{ 'editor.font.venite-fonts' | translate }}</ion-list-header>

    <ion-item button (click)="dismiss(null)">
      <ion-label>
        <ion-icon name="close" slot="start"></ion-icon>{{ 'editor.font.clear' | translate }}
      </ion-label>
    </ion-item>
    <ion-item button (click)="dismiss('Cormorant Garamond')">
      <ion-label [style.font-family]="'Cormorant Garamond'">Cormorant Garamond</ion-label>
    </ion-item>
    <ion-item button (click)="dismiss('EB Garamond')">
      <ion-label [style.font-family]="'EB Garamond'">EB Garamond</ion-label>
    </ion-item>
    <ion-item button (click)="dismiss('Gill Sans')">
      <ion-label [style.font-family]="'Gill Sans'">Gill Sans</ion-label>
    </ion-item>
    <ion-item button (click)="dismiss('Open Dyslexic')">
      <ion-label [style.font-family]="'Open Dyslexic'">Open Dyslexic</ion-label>
    </ion-item>
    
    <ion-list-header>{{ 'editor.font.web-fonts' | translate }}</ion-list-header>

    <ion-item *ngFor="let font of fonts$ | async" button (click)="dismiss(font)">
      <ion-label [style.font-family]="font">{{ font }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>