article {
    display: flex;
    flex-direction: row;

    ldf-editor {
        width: 100%;
    }
    pre {
        width: 0%;
    }
    
    @media(min-width: 767px) {
        ldf-editor {
            width: 50%;
        }
        pre {
            width: 50%;
        }
    }
}

.button-layout {
    display: flex;
    flex-wrap: wrap;

    venite-create-document-button {
        max-width: 50%;
        min-width: 25%;
    }
}

.doc-link:hover {
    cursor: pointer;
}

.visually-hidden {
    height: 0px;
    max-height: 1000px;
    transition: height 0.5s;
}

.loading {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

ion-card-header ion-toolbar, ion-list ion-toolbar { 
    --background: inherit;
}  