article {
    display: flex;
    flex-direction: row;

    ldf-editor {
        width: 50%;
    }
    pre {
        width: 50%;
    }
    
    @media(min-height: 767px) {
        ldf-editor {
            width: 50%;
        }
        pre {
            width: 50%;
        }
    }
}