/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

  /* cormorant-garamond-regular - latin */
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/cormorant-garamond-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/assets/fonts/cormorant-garamond-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/cormorant-garamond-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/cormorant-garamond-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/cormorant-garamond-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/cormorant-garamond-v9-latin-regular.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
  }

  /* cormorant-garamond-italic - latin */
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/cormorant-garamond-v9-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/assets/fonts/cormorant-garamond-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/cormorant-garamond-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/cormorant-garamond-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/cormorant-garamond-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/cormorant-garamond-v9-latin-italic.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
  }

  /* cormorant-garamond-600 - latin */
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/cormorant-garamond-v9-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/assets/fonts/cormorant-garamond-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/cormorant-garamond-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/cormorant-garamond-v9-latin-600.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/cormorant-garamond-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/cormorant-garamond-v9-latin-600.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
  }

  /* cormorant-garamond-600italic - latin */
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/cormorant-garamond-v9-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/assets/fonts/cormorant-garamond-v9-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/cormorant-garamond-v9-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/cormorant-garamond-v9-latin-600italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/cormorant-garamond-v9-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/cormorant-garamond-v9-latin-600italic.svg#CormorantGaramond') format('svg'); /* Legacy iOS */
  }
  /* eb-garamond-regular - latin */
  @font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/eb-garamond-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/assets/fonts/eb-garamond-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/eb-garamond-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/eb-garamond-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/eb-garamond-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/eb-garamond-v15-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
  }

  /* eb-garamond-500 - latin */
  @font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/eb-garamond-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/assets/fonts/eb-garamond-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/eb-garamond-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/eb-garamond-v15-latin-500.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/eb-garamond-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/eb-garamond-v15-latin-500.svg#EBGaramond') format('svg'); /* Legacy iOS */
  }

  /* eb-garamond-italic - latin */
  @font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/eb-garamond-v15-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/assets/fonts/eb-garamond-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/eb-garamond-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/eb-garamond-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/eb-garamond-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/eb-garamond-v15-latin-italic.svg#EBGaramond') format('svg'); /* Legacy iOS */
  }

  /* eb-garamond-500italic - latin */
  @font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/fonts/eb-garamond-v15-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/assets/fonts/eb-garamond-v15-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/eb-garamond-v15-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/eb-garamond-v15-latin-500italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/eb-garamond-v15-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/eb-garamond-v15-latin-500italic.svg#EBGaramond') format('svg'); /* Legacy iOS */
  }

/* EB Garamond Initials */
@font-face {
  font-family: "EB Garamond Initials";
  src: url("./assets/EBGaramond-Initials.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond Initials";
  src: url("./assets/EBGaramond-Initials.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond Initials";
  src: url("./assets/EBGaramond-Initials.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond Initials";
  src: url("./assets/EBGaramond-Initials.ttf");
  font-weight: bold;
  font-style: italic;
}

/* Allow text selection */
body * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.alert-radio-group::-webkit-scrollbar {
  width: 1em;
  display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.alert-radio-group::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/** Venite LDF CSS Variables — defined in @venite/components */
:root, body {
  --ldf-liturgical-document-margin-top: 1em;
  --ldf-background-color: #ffffff;
  --ldf-color: #121212;
  --ldf-text-align: justify;
  --ldf-editable-lookup-background-color: #f0f0f0;
  --ldf-editable-lookup-color: #121212;
  --ldf-editable-condition-background-color: #ffffc3;
  --ldf-editable-condition-color: #121212;

  --ldf-tab-width: 0.25em;
  --ldf-half-tab-width: 0.125em;

  @media (min-width: 767px) {
    --ldf-tab-width: 0.5em;
    --ldf-half-tab-width: 0.25em;
  }

  --ldf-drop-float: left;
  --ldf-drop-early-verses-display: none;
  --ldf-gloria-indent: 2em;
  --ldf-response-font-weight: bold;
  --ldf-response-font-style: normal;
  --ldf-text-border-width: 1px;
  --ldf-text-border-bottom-width: 3px;
  --ldf-text-border-radius: 4px;
  --ldf-rubric-color: rgb(252, 13, 27);
  --ldf-rubric-font-style: italic;
  --ldf-rubric-font-weight: normal;
  --ldf-rubric-font-size: 90%;
  --ldf-antiphon-font-style: italic;
  --ldf-antiphon-font-weight: normal;
  --ldf-drop-firstword-font-variant: small-caps;
  --ldf-drop-font-size: 2.3em;
  --ldf-drop-margin-right: 0.05em;
  --ldf-drop-line-height: 1em;
  --ldf-buffered-drop-margin-right: 0.15em;
  --ldf-bible-reading-verse-number-display: none;
  --ldf-bible-reading-citation-float: right;
  --ldf-h3-text-align: left;
  --ldf-h3-font-variant: normal;
  --ldf-h3-font-weight: bold;
  --ldf-h4-text-align: left;
  --ldf-h4-font-style: italic;
  --ldf-h4-font-weight: normal;
  --ldf-heading-margin-top: 3em;

  /* Font preference */
  --ldf-font-face: "Cormorant Garamond", "Garamond", serif;
  --ldf-controls-font-family: "Roboto", sans-serif;

  .font-eb-garamond {
    --ldf-font-face: "EB Garamond", "Garamond", serif;
  }

  .font-gill-sans {
    --ldf-font-face: "Gill Sans", sans-serif;
  }

  /* Label/Header Styling */
  --ldf-title-text-align: center;
  --ldf-title-font-weight: bold;
  --ldf-title-font-style: normal;
  --ldf-title-font-variant: small-caps;
  --ldf-title-font-size: 2em;

  --ldf-title-text-align: center;
  --ldf-title-font-weight: bold;
  --ldf-title-font-style: normal;
  --ldf-title-font-variant: small-caps;
  --ldf-title-font-size: 2em;

  --ldf-subtitle-font-style: normal;
  --ldf-subtitle-font-weight: normal;
  --ldf-subtitle-font-variant: normal;
  --ldf-subtitle-font-size: 1.5em;
  --ldf-subtitle-text-align: left;

  /* Response styling */
  --ldf-response-font-weight: bold;
  --ldf-response-font-style: normal;

  /* Holy Day names */
  --ldf-holy-day-margin: 0.5em;

  .response-italics {
    --ldf-response-font-weight: normal;
    --ldf-response-font-style: italic;
  }

  /* Unison Styling */
  --ldf-unison-font-weight: var(--ldf-response-font-weight);
  --ldf-unison-font-style: var(--ldf-response-font-style);

  .bolded-none {
    --ldf-unison-font-weight: normal;
    --ldf-unison-font-style: normal;
    --ldf-response-font-weight: normal;
    --ldf-response-font-style: normal;
  }

  .bolded-response {
    --ldf-unison-font-weight: normal;
    --ldf-unison-font-style: normal;
  }

  .bolded-unison.response-bold {
    --ldf-unison-font-weight: bold;
    --ldf-unison-font-style: normal;
    --ldf-response-font-weight: normal;
    --ldf-response-font-style: normal;
  }

  .bolded-unison.response-italics {
    --ldf-unison-font-weight: normal;
    --ldf-unison-font-style: italic;
    --ldf-response-font-weight: normal;
    --ldf-response-font-style: normal;
  }

  /* Editable Text */
  --ldf-text-border-width: 1px;
  --ldf-text-border-bottom-width: 3px;
  --ldf-text-border-radius: 4px;
  --ldf-text-focus-border: var(--ldf-text-border-width) solid grey;
  --ldf-text-focus-border-bottom: var(--ldf-text-border-bottom-width) solid
    green;

  /* Rubric styling */
  --ldf-rubric-color: red;
  --ldf-rubric-font-style: italic;
  --ldf-rubric-font-weight: normal;
  --ldf-rubric-font-size: 90%;

  /* Psalm/Refrain shared styling */
  --ldf-antiphon-font-style: italic;
  --ldf-antiphon-font-weight: normal;
  --ldf-psalm-first-verse-number-display: none;
  --ldf-psalm-number-display: none;
  --ldf-psalm-grid-display: block;
  --ldf-psalm-grid-template-columns: 2em 1fr;
  --ldf-psalm-grid-template-areas: "number verse";
  --ldf-psalm-halfverse-margin-left: 1em;
  --ldf-psalm-text-grid-area: verse;
  --ldf-psalm-number-grid-area: number;
  --ldf-psalm-verse-indentation: 0;
  --ldf-psalm-text-display: block;
  --ldf-psalm-verse-display: inline-block;
  --ldf-psalm-first-verse-display: inline;
  --ldf-psalm-number-margin-right: 0.5em;
  --ldf-psalm-antiphon-display: block;
  --ldf-psalm-repeat-antiphon-display: block;

  .psalmverses-false {
    --ldf-psalm-number-display: none;
    --ldf-psalm-grid-display: block;
  }

  .psalmverses-true {
    --ldf-psalm-number-display: inline-block;
    --ldf-psalm-grid-display: grid;
  }

  .bibleverses-true {
    --ldf-bible-reading-verse-number-display: inline;
  }

  --ldf-psalm-antiphon-display: block;
  --ldf-psalm-repeat-antiphon-display: none;

  .repeat-antiphon-repeat {
    --ldf-psalm-repeat-antiphon-display: block;
  }
  .repeat-antiphon-none {
    --ldf-psalm-antiphon-display: none;
  }

  /* Dropcap styling */
  --ldf-drop-firstword-font-variant: small-caps;
  --ldf-drop-font-family: "Cormorant Garamond", "Garamond", serif;
  --ldf-drop-font-size: 2.5em;
  --ldf-drop-margin-right: 0.05em;

  .dropcaps-none {
    --ldf-drop-font-size: 1em;
    --ldf-drop-margin-right: none;
    --ldf-drop-firstword-font-variant: normal;
    --ldf-drop-font-family: var(--ldf-font-face);
    --ldf-drop-float: none;
  }

  .dropcaps-plain {
    --ldf-drop-font-family: var(--ldf-font-face);
    --ldf-drop-font-size: 2.7em;
    --ldf-drop-margin-right: 0.05em;
    --ldf-drop-margin-top: 0.15em;
    --ldf-drop-line-height: 0.6em;
    --ldf-psalm-first-half-verse-display: inline;
  }

  .dropcaps-decorated {
    --ldf-drop-font-family: "EB Garamond Initials";
    --ldf-drop-font-size: 2.7em;
    --ldf-drop-margin-right: 0.05em;
    --ldf-drop-margin-top: 0.15em;
    --ldf-drop-line-height: 0.6em;
    --ldf-psalm-first-half-verse-display: inline;
  }

  @media (min-width: 767px) {
    --ldf-drop-font-size: 3.2em;
    --ldf-drop-margin-right: 0.05em;
    --ldf-drop-margin-top: 0;
    --ldf-drop-line-height: 0.8em;

    .dropcaps-plain {
      --ldf-drop-font-size: 3.5em;
      --ldf-drop-margin-right: 0.05em;
      --ldf-drop-margin-top: 0.1em;
      --ldf-drop-line-height: 0.5em;
      --ldf-psalm-first-half-verse-display: inline-block;
    }

    .dropcaps-decorated {
      --ldf-drop-font-size: 3.5em;
      --ldf-drop-margin-right: 0.05em;
      --ldf-drop-margin-top: 0;
      --ldf-drop-line-height: 0.5em;
      --ldf-psalm-first-half-verse-display: inline-block;
    }

    .dropcaps-none {
      --ldf-drop-font-size: 1em;
      --ldf-drop-margin-right: none;
    }
  }

  /* Date Headings */
  --ldf-date-font-size: 1em;
  --ldf-date-text-transform: none;
  --ldf-date-text-align: center;
  --ldf-date-font-style: italic;

  /* Font Sizes */
  --ldf-max-width: 500px;
  --ldf-preces-tr-display: table-row;
  --ldf-preces-td-display: table-cell;

  .fontscale-s {
    font-size: 75%;
  }

  .fontscale-m {
    font-size: 100%;
  }

  .fontscale-l {
    --ldf-max-width: 600px;
    font-size: 125%;
  }

  .fontscale-xl {
    --ldf-max-width: 800px;
    font-size: 150%;
  }

  .fontscale-xxl {
    --ldf-max-width: 1000px;
    font-size: 200%;
  }

  @media (min-width: 767px) {
    .fontscale-s {
      font-size: 100%;
    }

    .fontscale-m {
      --ldf-max-width: 650px;
      font-size: 125%;
    }

    .fontscale-l {
      --ldf-max-width: 700px;
      font-size: 150%;
    }

    .fontscale-xl {
      --ldf-max-width: 800px;
      font-size: 175%;
    }

    .fontscale-xxl {
      --ldf-max-width: 1000px;
      font-size: 200%;
    }
  }

  @media (min-width: 1068px) {
    .fontscale-s {
      font-size: 100%;
    }

    .fontscale-m {
      --ldf-max-width: 850px;
      font-size: 125%;
    }

    .fontscale-l {
      --ldf-max-width: 900px;
      font-size: 150%;
    }

    .fontscale-xl {
      --ldf-max-width: 950px;
      font-size: 175%;
    }

    .fontscale-xxl {
      --ldf-max-width: 1000px;
      font-size: 200%;
    }
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

ul {
  font-family: inherit;
}

.dark .bordered {
  border-width: 0 !important;
  background-color: var(--ldf-background-color) !important;
}

.sponsor-logo-dark {
  display: none;
}
.dark {
  .sponsor-logo {
    display: none;
  }
  .sponsor-logo-dark {
    display: block;
  }
}

.sm-only {
  display: none;
}

@media (max-width: 767px) {
  .sm-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
  }

  .sm-only {
    display: block;
  }
}

/* Make alerts wider */
ion-alert {
  --width: 400px !important;
  --max-width: 80vw !important;
}

.ecru,
.dark.ecru {
  --ecru: rgb(249, 249, 242);

  --ion-background-color: var(--ecru);
  --ldf-background-color: var(--ecru);

  --ion-color-primary: #d3ac41;
  --ion-color-primary-rgb: 211, 172, 65;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #ba9739;
  --ion-color-primary-tint: #d7b454;
}

/* Selections/Favorites */
:root {
  --ldf-selected-background: #d4e7ff;
  --ldf-liked-background: #ffc0cb;
}

.dark {
  --ldf-selected-background: #315781;
  --ldf-liked-background: #bb7b86;
}

/* Pray/Editor cards */
:root {
  --border-radius: 2px;
  --box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

pre {
  white-space: pre-wrap;
}