.loading {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bordered {
  border-left: 1em solid var(--ion-background-color, #fff);
  border-right: 1em solid var(--ion-background-color, #fff);
  border-width: 1em;
  width: 100vw;
  padding-bottom: 3em;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bordered,
.ldf-wrapper {
  min-height: 100vh;
}

@media (min-width: 767px) {
  .bordered {
    border-width: 2em;
  }
}

@media (min-width: 1024px) {
  .bordered {
    border-width: 6em;
  }
}

.display-hidden {
  visibility: hidden;
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ldf-wrapper {
  min-width: var(--ldf-max-width);
  max-width: calc(600px + 2em);
  margin: auto;
  background-color: var(--ldf-background-color);
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

@media (min-width: 767px) {
  .ldf-wrapper {
    padding: 2em;
  }
}

@media (min-width: 1024px) {
  .ldf-wrapper {
    padding: 3em;
  }
}

.editor-wrapper {
  padding-top: 56px;
}

venite-sponsor {
  margin-top: 1em;
  width: 250px;
  display: block;
  margin-bottom: 1em;
  text-align: center;
  background: var(--ldf-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.icon-visible {
  --ldf-icon-display: block;
}