<ion-header>
  <!-- Pray Mode Toolbar -->
  <ion-toolbar *ngIf="!bulletinMode" [veniteScrollVanish]="content">
    <ion-buttons collapse="true" slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ng-container *ngIf="doc$ | async as doc">
      <ion-title>{{ doc?.label || ('Pray the Office' | translate)}}</ion-title>
      <ion-buttons collapse="true" slot="end" *ngIf="doc$ | async as doc">
        <venite-auth-menu-button></venite-auth-menu-button>
        <ng-container *ngIf="actionSheetData$ | async as data">
          <ion-button *ngIf="data.doc"(click)="actionSheet(data)" aria-label="More Actions">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>

  <!-- Bulletin Mode Toolbar -->
  <ion-toolbar *ngIf="bulletinMode">
    <ion-buttons collapse="true" slot="start">
      <!--<ion-back-button></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ng-container *ngIf="editorState$ | async as state">
      <venite-editor-buttons
        slot="end"
        [state]="state"
        [status]="editorStatus$ | async"
        [includeAuthButton]="true"
      ></venite-editor-buttons>
      <ion-buttons slot="end" *ngIf="actionSheetData$ | async as data">
        <ion-button *ngIf="data.doc"(click)="actionSheet(data)" aria-label="More Actions">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>
<ion-content #content [fullscreen]="true">
  <div [class]="{'bordered': true, 'bulletin-mode': bulletinMode}" [style.background]="color$ | async" [style.border-color]="color$ | async">
    <ng-container *ngIf="bulletinMode">
        <div class="editor-wrapper" *ngIf="bulletinDocId$ | async as bulletinDocId">
          <venite-ldf-editor
            [docId]="bulletinDocId"
            [preview]="true"
          ></venite-ldf-editor>
        </div>
      </ng-container>
      <ng-container *ngIf="!bulletinMode">
        <div *ngIf="settings$ | async as settings" [ngClass]="processSettings(settings)">
          <ng-container *ngIf="doc$ | async as doc else loading">
            <ng-container *ngIf="doc.slug == 'LDF_ERROR_NOT_FOUND'">
              <div class="not-found">
                <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
                <ion-text color="danger"><h1>{{ 'bulletins.not-found' | translate }}</h1><p>{{ 'bulletins.not-found-message' | translate }}</p></ion-text>
              </div>
            </ng-container>
            <ng-container *ngIf="doc.slug !== 'LDF_ERROR_NOT_FOUND'">
              <div style="--ldf-font-face: {{doc?.metadata?.font}}; --ldf-drop-font-family: {{doc?.metadata?.font}};">
                <ng-container *ngIf="swapData$ | async as data">
                  <ldf-liturgical-document
                    (document:ldfSelectionChange)="selectionChange($event)"
                    [class]="{'icon-visible': !isBulletin}"
                    path="/"
                    [doc]="doc"
                    [editable]="false"
                    (ldfDocShouldChange)="changeDoc(doc, $event)"
                    (ldfAskForCanticleOptions)="sendCanticleOptions($event, data[0])"
                    (ldfAskForPrayersAndThanksgivings)="sendPAndTs($event, data[1])"
                    (window:ldfOptionAskForStoredSelection)="optionSendStoredSelection($event)"
                    (window:ldfOptionMakeSelection)="optionSaveSelection($event)"
                  ></ldf-liturgical-document>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
      <venite-sponsor></venite-sponsor>
  </div>
</ion-content>
  
<ion-footer>
  <ion-toolbar *ngIf="mediaSessionService.speechPlaying">
    <ng-container *ngIf="doc$ | async as doc">
      <ng-container *ngIf="settings$ | async as settings">
        <ion-buttons class="ion-justify-content-center">
          <ion-button (click)="mediaSessionService.rewind(doc, settings)" slot="start">
            <ion-icon name="play-back" slot="icon-only"></ion-icon>
            <ion-label class="display-hidden">{{'speech.Rewind'|translate}}</ion-label>
          </ion-button>
          <ion-button (click)="mediaSessionService.pauseSpeech()" *ngIf="speechService.isPlaying">
            <ion-icon name="pause" slot="icon-only"></ion-icon>
            <ion-label class="display-hidden">{{'speech.Pause'|translate}}</ion-label>
          </ion-button>
          <ion-button (click)="mediaSessionService.resumeSpeech(doc, settings)" *ngIf="!speechService.isPlaying">
            <ion-icon name="play" slot="icon-only"></ion-icon>
            <ion-label class="display-hidden">{{'speech.Resume'|translate}}</ion-label>
          </ion-button>
          <ion-button (click)="mediaSessionService.fastForward(doc, settings)" slot="end">
            <ion-icon name="play-forward" slot="icon-only"></ion-icon>
            <ion-label class="display-hidden">{{'speech.Fast-Forward'|translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ng-container>
    </ng-container>
    <!--<ion-text>{{ audioText | async }}</ion-text>-->
  </ion-toolbar>
  <ng-container *ngIf="doc$ | async as doc">
    <ng-container *ngIf="selection">
      <ion-toolbar *ngIf="selection.text">
        <ion-buttons slot="start">
          <ion-button *ngIf="canShare && selection?.text else clipboard" (click)="share(doc, selection)">
            <ion-icon name="share"></ion-icon>
            <ion-label class="display-hidden">{{'selection.Share' | translate}}</ion-label>
          </ion-button>
          <ng-template #clipboard>
            <ion-button (click)="copy(doc, selection)">
              <ion-icon [name]="clipboardIcon"></ion-icon>
              <ion-label class="display-hidden">{{'selection.CopyToClipboard' | translate}}</ion-label>
            </ion-button>
          </ng-template>
        </ion-buttons>
        <ion-buttons slot="end">
          <venite-mark-favorite *ngIf="selection"
            [selection]="selection"
            [favoriteMarked]="false"
          ></venite-mark-favorite>
        </ion-buttons>
      </ion-toolbar>
    </ng-container>
  </ng-container>
</ion-footer>

<ng-template #loading>
  <div class="loading">{{ 'Loading' | translate }}</div>
</ng-template>

<ng-template #prayTheOffice>
  <ion-title>{{ 'Pray the Office' | translate }}</ion-title>
</ng-template>