<ng-container *ngIf="doc$ | async as doc else loading">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons collapse="true" slot="start">
        <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'Pray the Office' | translate }}</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ng-container *ngIf="userProfile$ | async as user">
          <ng-container *ngIf="userOrgs$ | async as orgs">
            <ion-button *ngIf="modifiedDoc$ | async as modifiedDoc" (click)="editBulletin(user, modifiedDoc, orgs)" aria-label="Edit">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!(modifiedDoc$ | async)" (click)="editBulletin(user, doc, orgs)" aria-label="Edit">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
          </ng-container>
        </ng-container>
        <ion-button *ngIf="settings$ | async as settings" (click)="openSettings(settings)" aria-label="Settings">
          <ion-icon slot="icon-only" name="cog"></ion-icon>
        </ion-button>
        <venite-auth-menu-button></venite-auth-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding bordered" [style.background]="color$ | async" [style.border-color]="color$ | async">
    <div *ngIf="settings$ | async as settings" [ngClass]="processSettings(settings)">
      <ldf-liturgical-document
        *ngIf="!(modifiedDoc$ | async)"
        path="/"
        [doc]="doc"
        [editable]="false"
        (ldfDocShouldChange)="changeDoc(doc, $event)"
      ></ldf-liturgical-document>
      <ldf-liturgical-document
        *ngIf="modifiedDoc$ | async as modifiedDoc"
        path="/"
        [doc]="modifiedDoc"
        [editable]="false"
        (ldfDocShouldChange)="changeDoc(modifiedDoc, $event)"
    ></ldf-liturgical-document>
    </div>
  </ion-content>
</ng-container>
  
<ng-template #loading>
  <ion-content>
    <div class="loading">{{ 'Loading' | translate }}</div>
  </ion-content>
</ng-template>