.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

ldf-editable-add-block-menu.visible, .additional.visible {
  display: block;
  width: 100%;
}

.additional.visible { 
  display: block;
}

.visible, .hidden {
  transition: 0.25s;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
}