<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'editor.add-block' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissEmpty()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <!-- "Page One": menu of options -->
    <ldf-editable-add-block-menu
      (ldfShouldAddBlock)="add($event)"
      [class]="{ 'visible': !additionalMode, 'hidden': !!additionalMode }"
    >
    </ldf-editable-add-block-menu>

    <!-- "Page Two": additional info to look up psalms, canticles, hymns, etc. -->
    <section class="additional" [ngSwitch]="additionalMode" [class]="{ 'visible': !!additionalMode, 'hidden': !additionalMode }">          
      <!-- Image -->
      <venite-upload-image *ngSwitchCase="'image'"
        (imageUploaded)="complete.next([$event])"
      ></venite-upload-image>
      
      <!-- Hymns -->
      <venite-hymn-selector *ngSwitchCase="'hymn'"
        (hymnSelected)="complete.next([$event])"
      ></venite-hymn-selector>

      <!-- Psalms -->
      <ldf-editable-filter-documents *ngSwitchCase="'psalm'"
          type="psalm"
          [versions]="additionalVersions | async"
          [options]="additionalOptions | async"
          (ldfDocumentSelected)="complete.next([$event.detail])"
      >
      </ldf-editable-filter-documents>

      <!-- Invitatories -->
      <ldf-editable-filter-documents *ngSwitchCase="'invitatory'"
          type="psalm"
          [versions]="additionalVersions | async"
          [options]="additionalOptions | async"
          (ldfDocumentSelected)="complete.next([$event.detail])"
      >
      </ldf-editable-filter-documents>

      <!-- Liturgies -->
      <ldf-editable-filter-documents *ngSwitchCase="'liturgy'"
        type="liturgy"
        [versions]="additionalVersions | async"
        [options]="additionalOptions | async"
        (ldfDocumentSelected)="complete.next([$event.detail])"
      >
      </ldf-editable-filter-documents>

      <!-- Canticles-->
      <venite-canticle-select *ngSwitchCase="'canticle'"
        [tables]="additionalTable | async"
        [versions]="additionalVersions | async"
        [canticles]="additionalOptions | async"
        (canticleSelected)="complete.next([$event])"
      >
      </venite-canticle-select>

      <!-- Lectionary Readings -->
      <venite-lectionary-select *ngSwitchCase="'lectionary'"
        [versions]="additionalBibleTranslations | async"
        [readings]="additionalTable | async"
        [lectionaries]="additionalVersions | async"
        [intros]="additionalOptions | async"
        (readingSelected)="readingSelected($event)"
      >
      </venite-lectionary-select>

    </section>
  </div>
</ion-content>