.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 200%;
}

ldf-editable-add-block-menu, .additional {
  height: 80%;
  width: 100%;
}

ldf-editable-add-block-menu.hidden {
  transform: translateX(-100%);
}

.additional.visible { 
  transform: translateX(-100%);
}

.additional.hidden {
  width: 100%;
}

.visible, .hidden {
  transition: 0.25s;
}