:host {
  font-family: var(--ldf-font-face);
  white-space: pre-wrap;
}

.bible-reading[lang="he"] {
  text-align: right;
  direction: rtl;
  font-size: 1.5em;
  font-family: "Times New Roman" !important;

    .drop {
      float: right !important;
      font-family: "Times New Roman" !important;
    }
}

.bible-reading.omit {
  .verses {
    display: none;
  }
}

.editable.bible-reading {
  .verses {
    display: block;
    color: var(--ldf-greyed-out-text-color);
  }
}

sup {
  display: var(--ldf-bible-reading-verse-number-display);
  margin-left: 0;
  margin-right: 0.25em;
}

.citation {
  font-size: 80%;
  font-style: italic;
  margin-left: 1em;
  float: var(--ldf-bible-reading-citation-float);
}

.response {
  font-weight: var(--ldf-response-font-weight);
  font-style: var(--ldf-response-font-style);
}

.verses .verse {
  display: flex;
  flex-direction: row;
}

/* Hide/show first dropcaps to avoid interfering with the dropcap */
sup:first-of-type {
  display: var(--ldf-drop-early-verses-display);
}