<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'editor.share-this' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list *ngIf="owner$ | async as owner">
        <!-- Owner/Organization -->
        <ion-list-header><h2>{{ 'editor.owner' | translate }}</h2></ion-list-header>
        <ion-item>
          <ion-label>
            <h3>{{ owner.displayName }}</h3>
          </ion-label>
          <ion-avatar slot="end">
            <img [src]="owner.photoURL || '/assets/avatar.svg'">
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'editor.organization' | translate }}</ion-label>
          <ldf-editable-select
            path="/sharing"
            property="organization"
            [options]="orgOptions$ | async"
            [value]="sharing.organization"
          >
          </ldf-editable-select>
        </ion-item>
        <ion-list-header><h2>{{ 'editor.permissions' | translate }}</h2></ion-list-header>
        <ion-item>
          <ion-label>{{ 'editor.published-draft' | translate }}</ion-label>
          <ldf-editable-select
            path="/sharing"
            property="status"
            [options]="statusOptions"
            [value]="sharing.status"
          ></ldf-editable-select>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'editor.can_access' | translate }}</ion-label>
          <ldf-editable-select
            path="/sharing"
            property="privacy"
            [options]="privacyOptions"
            [value]="sharing.privacy"
          ></ldf-editable-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
