#category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#category-list li {
  margin: 0;
  padding: 0;
}

#category-list li.hidden {
  display: none;
}

#searchbar {
  width: 100%;
  max-width: 250px;
  text-align: center;
  display: block;
  margin: auto;
}