<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666828168362-9beke9q54gc34nalgh07bi085bd0cl5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666828168362-9beke9q54gc34nalgh07bi085bd0cl5c</string>
	<key>API_KEY</key>
	<string>AIzaSyDfFw3dsTKffs22WFtnQpkfwnPRGVg7gnw</string>
	<key>GCM_SENDER_ID</key>
	<string>666828168362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.venite</string>
	<key>PROJECT_ID</key>
	<string>venite-2</string>
	<key>STORAGE_BUCKET</key>
	<string>venite-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666828168362:ios:757f0dc39bea7959b204d3</string>
	<key>DATABASE_URL</key>
	<string>https://venite-2.firebaseio.com</string>
</dict>
</plist>