button {
  background: none;
  border: none;
  display: block;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  width: 6em;
  padding: 0.25em;

  svg, ion-icon {
    height: 2em;
    margin-bottom: 0.25em;
    width: auto;
  }
}