p {
  font-family: var(--ldf-font-face);
  text-align: justify;
  text-justify: inter-character;
}

.response {
  font-weight: var(--ldf-response-font-weight);
  font-style: var(--ldf-response-font-style);
}
