ldf-label-bar {
  min-height: 0;
}

p {
  font-family: var(--ldf-font-face);
  text-align: var(--ldf-text-align);
  text-justify: inter-character;
}

li,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
span,
em,
strong {
  font-family: var(--ldf-font-face);
}

.response {
  font-weight: var(--ldf-response-font-weight);
  font-style: var(--ldf-response-font-style);
}

.text.omit .text-body {
  display: none;
}

.text.editable.omit .text-body {
  display: block;
}

.text.unison .text-body {
  font-weight: var(--ldf-unison-font-weight);
  font-style: var(--ldf-unison-font-style);
}

h3.editable-label {
  text-align: var(--ldf-h3-text-align);
  font-weight: var(--ldf-h3-font-weight);
  font-style: var(--ldf-h3-font-style);
  font-variant: var(--ldf-h3-font-variant);
  font-size: var(--ldf-h3-font-size);
  text-transform: var(--ldf-h3-text-transform);
}

/* .text.abbreviated is handled in the DOM itself, in the component */

.prayer-list {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.prayer-list.formatted {
  text-align: left;
  white-space: pre-wrap;
}

.prayer-list li {
  list-style-type: none;
  text-align: center;
  margin: 0.5em 0;
  padding: 0;
}