p {
  font-family: var(--ldf-font-face);
  text-align: var(--ldf-text-align);
  text-justify: inter-character;
}

.response {
  font-weight: var(--ldf-response-font-weight);
  font-style: var(--ldf-response-font-style);
}

.text.omit p {
  display: none;
}

.text.unison p {
  font-weight: var(--ldf-response-font-weight);
  font-style: var(--ldf-response-font-style);
}

/* .text.abbreviated is handled in the DOM itself, in the component */