<ion-menu side="start" menuId="menu" content-id="main">
  <ion-header>
    <ion-toolbar>
      <ion-thumbnail slot="start">
        <ion-img src="/assets/icon/venite.svg"></ion-img>
      </ion-thumbnail>
      <ion-title>Venite</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/">
        <ion-icon name="book" slot="start"></ion-icon>
        <ion-label>{{ 'menu.pray' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/meditate">
        <ion-icon name="sunny" slot="start"></ion-icon>
        <ion-label>{{ 'menu.meditate' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/favorites">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>{{ 'menu.favorites' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/reminders" *ngIf="remindersEnabled">
        <ion-icon name="notifications" slot="start"></ion-icon>
        <ion-label>{{ 'menu.reminders' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/bulletins">
        <ion-icon name="link" slot="start"></ion-icon>
        <ion-label>{{ 'menu.bulletins' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/psalter">
        <ion-icon name="musical-notes" slot="start"></ion-icon>
        <ion-label>{{ 'menu.psalter' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/settings">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>{{ 'menu.settings' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/about">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>{{ 'menu.about' | translate }}</ion-label>
      </ion-item>
      <ion-item button (click)="auth.logout()" *ngIf="auth.user | async" slot="start">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>{{ 'auth.sign-out' | translate }}</ion-label>
      </ion-item>
      <ion-item button (click)="signIn()" *ngIf="!(auth.user | async)" slot="start"  button>
        <ion-icon name="log-in" slot="start"></ion-icon>
        <ion-label>{{ 'auth.sign-in' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
