<ng-container *ngIf="modal else form">
  <ion-content>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ng-template *ngIf="true then form"></ng-template>
  </ion-content>
</ng-container>

<ng-template #form>
  <form class="find-org ion-padding">
    <h3>{{ 'auth.find-org' | translate }}</h3>
    <p>{{ 'auth.find-org-copy' | translate }}</p>
    <ion-searchbar animated (ionChange)="runSearch($event)"></ion-searchbar>
    <ion-list class="search-results" *ngIf="matches$ | async as matches">
      <ion-item button *ngFor="let org of matches; trackBy: trackByFn" (click)="joinOrganization(org)">
        <ion-avatar *ngIf="org.photoURL" slot="start">
          <img [src]="org.photoURL">
        </ion-avatar>
        <ion-label>
          <h4>{{ org.name }}</h4>
          <h5>{{ org.location }}</h5>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="buttons" *ngIf="search$ | async as search">
      <ion-button fill="clear" (click)="createOrganization(search)">{{ 'Create' | translate }} “{{ search }}”</ion-button>
    </div>
  </form>
</ng-template>

