<ng-container *ngIf="modal else form">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ng-template *ngIf="true then form"></ng-template>
  </ion-content>
</ng-container>

<ng-template #form>
  <form class="find-org ion-padding">
    <h3>{{ 'auth.find-org' | translate }}</h3>
    <p [innerHTML]="'auth.find-org-copy' | translate"></p>
    <ion-searchbar animated (ionChange)="search$.next($event.detail.value)"></ion-searchbar>
    <div class="buttons">
      <ion-button fill="clear" color="danger" (click)="dismiss()">{{ 'Skip This' | translate }}</ion-button>
      <ion-button *ngIf="search$ | async as search" fill="clear" (click)="createOrganization(search)">{{ 'Create' | translate }} “{{ search }}”</ion-button>
    </div>
    <ion-list class="search-results" *ngIf="matches$ | async as matches">
      <ion-item button *ngFor="let org of matches; trackBy: trackByFn" (click)="joinOrganization(org)">
        <ion-avatar *ngIf="org.photoURL" slot="start">
          <img [src]="org.photoURL">
        </ion-avatar>
        <ion-label>
          <h4>{{ org.name }}</h4>
          <h5>{{ org.location }}</h5>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-text color="danger" *ngIf="error">Something went wrong here; I’ve sent an automatic bug report! Sorry about that.</ion-text>
  </form>
</ng-template>

