.avatar {
    clip-path: circle(45%);
    height: 200px;
    margin: 0;
    padding: 0;
    width: 200px;

    > img {
        height: auto;
        width: 100%;
    }
}

.avatar:hover {
    cursor: pointer;
}

.uploading {
    mask-image: radial-gradient(circle at 100%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

.edit-tooltip {
    background: rgba(0, 0, 0, 0.25);
    bottom: 3em;
    color: var(--ion-color-light-tint);
    height: 3em;
    opacity: 0;
    padding: 0.25em;
    position: relative;
    transition: 0.25s;
    text-align: center;
    width: 100%;
}
.edit-tooltip.visible {
    opacity: 1;
    transition: 0.25s;
}

.figcaption {
    ion-progress-bar {
        width: 80%;
    }
}

/* Touchscreens should always show the tooltip */
@media (hover: none) {
    .edit-tooltip {
        opacity: 1;
        transition: none;
    }
}