<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "menu.daily-readings" | translate}}</ion-title>
    <ion-buttons slot="end">
      <venite-auth-menu-button></venite-auth-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar *ngIf="searchDate$ | async as date">
    <ion-input type="date" [value]="date | date:'yyyy-MM-dd'" (ionChange)="navigate($event)"></ion-input>
  </ion-toolbar>
  <div class="readings" *ngIf="liturgy$ | async as liturgy else loading">
      <form>
        <ion-segment [value]="timeOfDay.value" (ionChange)="timeOfDay.setValue($event.detail.value)">
          <ion-segment-button value="morning">
            <ion-label>{{ "daily-readings.mp" | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="evening">
            <ion-label>{{ "daily-readings.ep" | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-segment [value]="psalmCycle.value" (ionChange)="psalmCycle.setValue($event.detail.value)">
          <ion-segment-button value="bcp1979_daily_psalms">
            <ion-label>{{ "daily-readings.lectionary-cycle" | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="bcp1979_30day_psalter">
            <ion-label>{{ "daily-readings.30day" | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-segment [value]="kalendar.value" (ionChange)="kalendar.setValue($event.detail.value)">
          <ion-segment-button value="bcp1979">
            <ion-label>{{ "daily-readings.bcp1979" | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="lff2018">
            <ion-label class="sm-hidden">{{ "daily-readings.lff2018" | translate }}</ion-label>
            <ion-label class="sm-only">{{ "daily-readings.lff2018-short" | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </form>
  
      <div *ngIf="settings$ | async as settings" [ngClass]="processSettings(settings)">
        <h2 *ngIf="searchDate$ | async as date">{{ date | date:'longDate' }}</h2>
        <ng-container *ngIf="day$ | async as day else loading">
          <ldf-day-name [day]="day"></ldf-day-name>
          <ul class="feasts" *ngIf="day.holy_days?.length > 0 || day.week?.proper">
            <ng-container *ngFor="let holy_day of day.holy_days"><li *ngIf="holy_day.type?.rank <= 2">{{ holy_day.name }}</li></ng-container>
            <li *ngIf="day.week?.proper && !day.holy_day_observed">(Proper {{ day.week.proper }})</li>
          </ul>
        </ng-container>
            <h3>{{ "daily-readings.psalms" | translate }}</h3>
            <ng-container *ngIf="psalms$ | async as psalms else loading2">
              <details *ngFor="let psalm of psalms">
                <summary>{{ psalm.label }}</summary>
                <ldf-psalm [doc]="psalm"></ldf-psalm>
              </details>
            </ng-container>
            <h3>Lessons</h3>
            <ng-container *ngFor="let reading of readings$ | async">
              <details>
                <summary>{{ reading.citation }}</summary>
                <ldf-bible-reading [doc]="reading"></ldf-bible-reading>
              </details>
            </ng-container>
        <ng-container *ngIf="collects$ | async as collects else loading2">
          <h3>{{ "daily-readings.collects" | translate }}</h3>
          <details *ngFor="let collect of collects">
            <summary>{{ collect.label }}</summary>
            <ldf-liturgical-document [doc]="collect.doc"></ldf-liturgical-document>
          </details>
        </ng-container>
          <ng-container *ngIf="canticles$ | async as canticles else loading2">
          <h3>{{ "daily-readings.canticles" | translate }}</h3>
          <details>
            <summary>{{ canticles.first.label || (canticles.first.value[0]?.label )}}</summary>
            <ldf-liturgical-document [doc]="canticles.first"></ldf-liturgical-document>
          </details>
          <details>
            <summary>{{ canticles.second.label || (canticles.second.value[0]?.label )  }}</summary>
            <ldf-liturgical-document [doc]="canticles.second"></ldf-liturgical-document>
          </details>
        </ng-container>
      </div>
    </div>
  <venite-sponsor></venite-sponsor>
</ion-content>

<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>

<ng-template #loading2>Loading...<br/></ng-template>