ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-button {
  display: block;
  margin: auto;
  width: 100px;
  padding-top: 1em;
}

ldf-meditation, h1 {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em;
}

ldf-meditation {
  height: 50%;
}