ldf-editor {
  display: block;
}

ldf-editor textarea {
  display: block;

  width: 100%;
  max-width: 100%;
  max-height: 100%;

  border: 1px solid grey;

  outline: none;

  background: transparent;
  box-sizing: border-box;
  resize: none;
  appearance: none;

  font-family: inherit;
}

@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.user {
  padding-top: 3px;
  padding-bottom: 3px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0;
}
