<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Pray the Office' | translate }}</ion-title>
    <ion-buttons slot="end">
      <venite-auth-menu-button></venite-auth-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <lib-pray-menu></lib-pray-menu>

    <!-- Reporters -->
    <ion-card class="reports">
      <ion-card-content>
        <ul>
          <li>prayData: <ng-container *ngIf="prayData | async as p">ok</ng-container></li>
          <li>liturgicalDay: <ng-container *ngIf="liturgicalDay | async as day"><pre>{{ day | json }}</pre></ng-container></li>
          <li>date: <ng-container *ngIf="date | async as d">{{ d | json }}</ng-container></li>
          <li>week: <ng-container *ngIf="week | async as w">{{ w | json }}</ng-container>
          <li>holydays: <ng-container *ngIf="holydays | async as h">{{ h | json }}</ng-container></li>
          <li>liturgy: <ng-container *ngIf="liturgy | async as l">{{l | json}}</ng-container></li>
          <li>kalendar: <ng-container *ngIf="kalendar | async as k">{{ k | json }}</ng-container></li>
          <li>sanctoral: <ng-container *ngIf="sanctoral | async as s">{{ s | json }}</ng-container></li>
          <li>vigil: <ng-container *ngIf="vigil | async as v">{{ v | json}}</ng-container></li>
          <li>clientPreferences: <ng-container *ngIf="clientPreferences | async as prefs">{{ prefs | json}}</ng-container></li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
