.form {
  text-align: center;
}

ul.feasts {
  list-style-type: none;
  padding-left: 1em;

  li {
  }
}

#container {
  display: flex;
  flex-direction: row;

  .form {
    width: 70vw;
  }

  .reports {
    width: 25vw;
  }
}
