<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Pray the Office' | translate }}</ion-title>
    <ion-buttons collapse="true" slot="end">
      <venite-auth-menu-button></venite-auth-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'Pray the Office' | translate }}</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-menu-button menu="auth" slot="start"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="form">
      <!-- Header based on Liturgical Day -->
      <ion-card-header *ngIf="liturgicalDay | async as day else blankHeader">
        <ion-card-title>
          &nbsp;
          <ng-container >
            <venite-liturgical-day-name [day]="day"></venite-liturgical-day-name>
          </ng-container>
        </ion-card-title>
        <ion-card-subtitle>
          <ul class="feasts" *ngIf="day.holy_days?.length > 0">
            <li *ngFor="let holy_day of day.holy_days">{{ holy_day.name }}</li>
          </ul>
        </ion-card-subtitle>
      </ion-card-header>
      <!-- Header if liturgical day has not loaded -->
      <ng-template #blankHeader>
        <ion-card-header>
          <ion-card-title><ion-skeleton-text></ion-skeleton-text></ion-card-title>
          <ion-card-subtitle><ion-skeleton-text></ion-skeleton-text></ion-card-subtitle>
        </ion-card-header>
      </ng-template>

      <!-- Form -->
      <ion-card-content>
        <!-- Choose kalendars -->
        <form name="kalendarForm">
          <ng-container *ngIf="kalendarOptions | async as options">
            <ion-item *ngIf="options.length > 1">
              <ion-label position="stacked">{{ 'kalendar' | translate }}</ion-label>
              <ion-select ngDefaultControl name="formKalendar" [value]="kalendar | async" (ionChange)="kalendar.next($event.detail.value)">
                <ion-select-option *ngFor="let opt of options" [value]="opt.slug">{{ opt.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="sanctoralOptions | async as options">
            <ion-item *ngIf="options.length > 1">
              <ion-label position="stacked">{{ 'sanctoral' | translate }}</ion-label>
              <ion-select ngDefaultControl name="formSanctoral" [value]="sanctoral | async" (ionChange)="sanctoral.next($event.detail.value)">
                <ion-select-option *ngFor="let opt of options" [value]="opt.slug">{{ opt.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ng-container>
        </form>

        <!-- Choose date -->
        <venite-date (dateChange)="date.next($event)"></venite-date>

        <!-- Choose liturgy -->
        <venite-liturgy-menu (liturgyChange)="liturgy.next($event)"></venite-liturgy-menu>

        <!-- Choose vigil -->
        <ion-item>
          <ion-label>{{ 'vigil' | translate }}</ion-label>
          <ion-checkbox name="isVigil" [value]="vigil | async" (ionChange)="vigil.next($event.detail.checked)"></ion-checkbox>
        </ion-item>

        <!-- Pray Button -->
        <ng-container *ngIf="prayData | async as data else notLoaded">
          <ion-button (click)="pray(data)">
            <ion-label>{{ 'Pray' | translate }}</ion-label>
          </ion-button>
        </ng-container>
        <ng-template #notLoaded>
          <ion-button disabled="true">
            <ion-label>{{ 'Pray' | translate }}</ion-label>
          </ion-button>
        </ng-template>

        <!-- Preferences -->
        <venite-liturgy-preference-menu
          [liturgy]="liturgy | async"
          (clientPreferencesChange)="clientPreferences.next($event)"
        ></venite-liturgy-preference-menu>
      </ion-card-content>
    </ion-card>

    <!-- Reporters -->
    <ion-card class="reports">
      <ion-card-content>
        <ul>
          <li>prayData: <ng-container *ngIf="prayData | async">yes</ng-container></li>
          <li>liturgicalDay: <ng-container *ngIf="liturgicalDay | async">yes</ng-container></li>
          <li>date: <ng-container *ngIf="date | async">yes</ng-container></li>
          <li>week: <ng-container *ngIf="week | async">yes</ng-container>
          <li>holydays: <ng-container *ngIf="holydays | async">yes</ng-container></li>
          <li>liturgy: <ng-container *ngIf="liturgy | async">yes</ng-container></li>
          <li>kalendar: <ng-container *ngIf="kalendar | async">yes</ng-container></li>
          <li>sanctoral: <ng-container *ngIf="sanctoral | async">yes</ng-container></li>
          <li>vigil: <ng-container *ngIf="vigil | async as v">{{ v | json}}</ng-container></li>
          <li>clientPreferences: <ng-container *ngIf="clientPreferences | async as prefs">{{ prefs | json}}</ng-container></li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
