<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Pray the Office' | translate }}</ion-title>
    <ion-buttons slot="end">
      <venite-auth-menu-button></venite-auth-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <lib-pray-menu></lib-pray-menu>

    <!-- Reporters -->
    <ion-card class="welcome">
      
    </ion-card>
  </div>
</ion-content>
