<ion-app>
  <!-- Main Menu-->
  <ion-menu side="start" menu-id="menu" content-id="main" swipe-gesture="false">
    <ion-header>
      <ion-toolbar class="menu-header">
        <ion-thumbnail slot="start">
          <img src="/assets/icon/icon-transparent.png">
        </ion-thumbnail>
        <ion-title>Venite</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>{{ 'menu.pray' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/meditate">
            <ion-icon name="sunny" slot="start"></ion-icon>
            <ion-label>{{ 'menu.meditate' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/reminders" *ngIf="remindersEnabled">
            <ion-icon name="notifications" slot="start"></ion-icon>
            <ion-label>{{ 'menu.reminders' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/psalter">
            <ion-icon slot="start" src="/assets/harp.svg"></ion-icon>
            <ion-label>{{ 'menu.psalter' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/prayers-and-thanksgivings">
            <ion-icon slot="start" src="/assets/prayer.svg"></ion-icon>
            <ion-label>{{ 'menu.prayers-and-thanksgivings' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/daily-readings">
            <ion-icon slot="start" src="/assets/book.svg"></ion-icon>
            <ion-label>{{ 'menu.daily-readings' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/lectionary">
            <ion-icon slot="start" src="/assets/book.svg"></ion-icon>
            <ion-label>{{ 'menu.lectionary' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/favorites">
            <ion-icon slot="start" name="heart"></ion-icon>
            <ion-label>{{ 'menu.favorites' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/bulletins">
            <ion-icon name="document" slot="start"></ion-icon>
            <ion-label>{{ 'menu.bulletins' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/templates">
            <ion-icon name="document-outline" slot="start"></ion-icon>
            <ion-label>{{ 'menu.templates' | translate }}</ion-label>
          </ion-item>
          <ng-container *ngIf="organizations$ | async as orgs">
            <ion-item *ngFor="let org of orgs" [routerLink]="['/', 'church', org.slug]">
              <ion-icon slot="start" src="/assets/church.svg"></ion-icon>
              <ion-label>{{ org.name }}</ion-label>
            </ion-item>
          </ng-container>
          <ion-item button routerLink="/tutorials">
            <ion-icon name="videocam" slot="start"></ion-icon>
            <ion-label>{{ 'menu.tutorials' | translate }}</ion-label>
          </ion-item>
          <ion-item button routerLink="/about">
            <ion-icon name="help" slot="start"></ion-icon>
            <ion-label>{{ 'menu.about' | translate }}</ion-label>
          </ion-item>
          <ion-item button routerLink="/settings">
            <ion-icon name="cog" slot="start"></ion-icon>
            <ion-label>{{ 'menu.settings' | translate }}</ion-label>
          </ion-item>
          <ion-item *ngIf="canDonate" button href="https://www.patreon.com/venite?fan_landing=true" target="_system">
            <ion-icon name="card" slot="start"></ion-icon>
            <ion-label>{{ 'menu.donate' | translate }}</ion-label>
          </ion-item>
          <ion-item button (click)="reportIssue()">
            <ion-icon name="bug" slot="start"></ion-icon>
            <ion-label>{{ 'menu.report-issue' | translate }}</ion-label>
          </ion-item>
          <ion-item *ngIf="issueManager$ | async" routerLink="/issues">
            <ion-icon name="bug" slot="start"></ion-icon>
            <ion-label>{{ 'menu.issues' | translate }}</ion-label>
            <ng-container *ngIf="issues$ | async as issues">
              <ion-badge *ngIf="issues > 0">{{ issues }}</ion-badge>
            </ng-container>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Content -->
  <ion-router-outlet id="main"></ion-router-outlet>

  <!-- Auth Menu -->
  <venite-auth-menu></venite-auth-menu>
</ion-app>
